[2021-06-21 06:53] komninoschat opened #1 "Add logging"
Add logging to the routes code via [express-winston](https://github.com/bithavoc/express-winston#readme).

The following env vars will also be added:
[code]

[2021-06-21 06:54] komninoschat opened #2 "Split auth.test.ts"
Split `src/auth.test.ts` to many small files

[2021-06-21 06:56] komninoschat opened #3 "Improve validation"
Improve validation by taking the following steps:
1) Remove the `asyncWrapper` function and use try-catch blocks on the route code
2) Remove `validation.ts` and include the Joi validation objects in the route files
3) Package often used validation code into middleware(e.g. the code checking the `permission_variables`)

[2021-06-21 06:57] komninoschat opened #4 "Increase test coverage"
Basically add more tests. Also add Codecov delta for PRs.

[2021-06-21 07:05] komninoschat opened #5 "Test migrations folder"
Currently, test migrations are provided as a string to `pg`
![Komninos Screenshot - i0BH0QOB](https://user-images.githubusercontent.com/29049104/122720485-34e0fa80-d278-11eb-9402-928118387c24.png)
We need to have a separate migrations folder for tests and load them from there.

cc: @nunopato

[2021-06-21 07:15] elitan opened #6 "Only use one REDIRECT_URL_* env var"
Right now we use both `PROVIDER_SUCCESS_REDIRECT` and `REDIRECT_URL_SUCCESS`. We should deprecate `PROVIDER_SUCCESS_REDIRECT` and only use `REDIRECT_URL` so we only have to change one variable to handle redirects on HBP

[2021-06-23 09:36] #1 closed

[2021-06-23 15:32] elitan opened #8 "Locale default value not set on registration"
https://github.com/nhost/hasura-auth/blob/ea088f39ba642646bb3bb0660dab9b5bc8277036/src/routes/register.ts#L28

[code]

[2021-06-23 15:33] #8 closed, assigned to nobody

[2021-06-23 16:48] elitan opened #9 "Error message for body validation"
If I log in with:

[code]

I get:

[code]

I would expect to get an error message like "cookie not allowed as a property or something".

[2021-06-25 09:05] elitan opened #10 "Codegens"
https://www.graphql-code-generator.com/docs/plugins/typescript-graphql-request

[code]

[code]

[code]

[2021-06-28 06:11] elitan opened #13 "Move users table to auth schema"

[2021-06-28 06:11] elitan opened #14 "use camelCase everywhere"

[2021-06-28 15:09] nunopato opened #15 "Wait for Hasura endpoint to be available?"
Since `hasura-auth` manages its own metadata, we should add retry logic on startup, specifically for tracking metadata.

- We could have this done with exponential backoff and a timeout (or max number of retries).
- Wait for hasura (`/healthz`) to be up-and-running.
- We wouldn't have to rely on the order in which services get started.

[2021-06-29 11:03] #15 closed, assigned to nobody

[2021-07-04 05:43] #14 closed, assigned to nobody

[2021-07-04 05:43] #10 closed, assigned to nobody

[2021-07-04 05:43] #13 closed, assigned to nobody

[2021-07-09 16:39] joshmedeski opened #17 "Verify Password Request"
# User Story
As a user, when I update sensitive information on my account, I want to enter my password again for extra security.

# Description
I'd like to add an endpoint that allows you to send a password and email, or user_id, and return a 200 if that password is correct. This can be used in the front-end for sensitive updates (ex: changing an email, adding a credit card, etc...).

GitHub does

[2021-08-10 13:30] elitan opened #19 "all env vars in env.ts"
Now they are spread out. Use only one env.ts to expose all env vars.

[2021-08-10 18:09] #19 closed, assigned to nobody

[2021-09-16 10:41] elitan opened #22 "last seen"
update last seen timestamp for the user every time the user signs in or refresh token.

[2021-09-18 09:20] elitan commented on #22
https://github.com/nhost/hasura-auth/commit/6197878b80ca9a1ab0b403837c895382d888158d

[2021-09-18 09:20] #22 closed

[2021-10-04 09:10] elitan opened #31 "Add metadata column for user"
Add general purpose metadata column for users.

Name: `metadata`
type: `JSONB`
nullable: Yes

The `metadata` column should be used during signup to attach custom data to a user.

[2021-10-14 09:42] elitan opened #33 "Add redirectTo option"
Add `redirectTo` option that should be used in email and in the `/verify` route to redirect user to a specific URL.

I think we should add the `redirect_to` column on the `users` table.

We must also update:

- hasura-auth-js to take `redirectTo` as an optional parameter for some methods

[2021-10-15 09:34] elitan opened #35 "new test"

[2021-10-17 17:48] #33 closed

[2021-10-20 09:15] #9 closed, assigned to nobody

[2021-10-20 09:16] elitan commented on #17
Would it be enough to send a sign-in request (`/signin/email-password`) with email and password and check if it returns `200` back?

[2021-11-18 17:41] fracet opened #42 "container fails to start due to failed migrations called"
Hi
I installed the latest hasura-auth docker image and I am getting the following error when it starts:

`2021-11-18T17:36:13.215063196Z yarn run v1.22.15
2021-11-18T17:36:13.310451921Z $ node -r ./dist/start.js
2021-11-18T17:36:16.010300921Z {"level":30,"time":1637256976007,"pid":29,"hostname":"f89ed166a3bd","msg":"Hasura is ready"}
2021-11-18T17:36:16.090766635Z (node:29) UnhandledPromiseRejecti

[2021-11-19 07:41] beepsoft opened #43 "signUp should return userId, email, etc. when registering user with email verification enabled"
Now, when hasura-auth is started from nhost cli with the following config

[code]

and trying to register a user using the JS client's `signUp()` function  it returns

[code]

It would be good to receive some descriptive data of the newly registered user, at least its `userId` and `email`, so that we could make some operations on the new user even if their email address is not yet validated.

For

[2021-11-21 00:06] alveshelio opened #44 "Allow locale with country in locale in users table"
Right now, the `users` table has a column `locale` which unfortunately only accepts the locale and not the locale plus country. Working with internationalization means that we need to take into account not only the locale but also the country since there's a lot of information that depends on the country.

We should be able to enter `en-ca`, `fr-ca`, `pt-pt`, `pt-br`, etc

[2021-11-22 15:20] alveshelio opened #46 "Improve Signup Error interface"
Currently when a user tries to signup and gets an error, the `Error` signature isn't very helpful.
This is the error type signature
[code]
It's hard to handle different cases and let the user know what was exactly the error. For example if we receive a 409 it means the email is already in use, if we get 401 it means password and email doesn't match, if we receive a 500 it means there was an error

[2021-11-26 15:18] elitan opened #48 "Set correct expiration time for refresh tokens"
The current value is the number of minutes in 30 days, but it should be the number of seconds in 30 days.

https://github.com/nhost/hasura-auth/blob/main/src/utils/env.ts#L172

The correct default value should be `2592000`.

[2021-11-27 09:07] beepsoft opened #49 "Custom JWT Claims"
nhost and HBP used to support custom JWT claim, however hasura-auth doesn't support them. As @elitan wrote: "For JWT custom fields, we've temporary dropped support for it in v2 because we don't want users to edit the new auth.users table. Everything in the auth schema is managed by Hasura Auth."

I would like to suggest an alternative solution, which would not require us developers to touch `auth.

[2021-11-29 08:05] kratam commented on #49
It would make the migration to nhost2 a lot easier since my current permissions rely on custom session variables.

And don't forget that hasura only allows `static` and `from session variable` options for column presets:
![Screenshot 2021-11-29 at 9 02 26](https://user-images.githubusercontent.com/1479192/143829918-13c1787e-36e2-4342-85aa-cd326c92a436.png)

[2021-11-29 08:32] beepsoft commented on #49
Yes, that was my biggest pain point as well. I had two custom fields, which contained some calculated IDs. Now I have to navigate with 2-3 joins down in my permission queries to get to `auth.user` and do a `userId: {_eq:{xhasura-user-id}}` condition. Practically you can only use `xhasura-user-id` and so you always have to navigate to the `auth.user` for this.

[2021-11-29 09:01] elitan commented on #49
I agree with all this, to be able to set custom claims is important.

Here are the current ideas we can continue to discuss to find a good solution:

## 1 Custom GraphQL query

@beepsoft's [idea](https://github.com/nhost/hasura-auth/issues/49#issue-1064944215) to provide a custom GraphQL query for Hasura Auth to execute when generating the JWT token.

Can it be an issue that the query can return m

[2021-11-29 09:19] beepsoft commented on #49
Which solution is the best is a question of tradeoffs, as always 😀

- **webhook** is the most flexible, but you need to write a serverless function to generate the claim
- **special profile table**: this is the most opinionated. The developer has to define their schema in accordance to nhost requirements, but doesn't need a serverless function to operate
- **graphql query**: this is between the tw

[2021-12-02 00:44] alveshelio opened #50 "auth.resetPassword throws error when providing options"
When trying to provide an `options` object to `auth.resetPassword` like so:
[code]
I get a 400 error: Error validating request body. "options" is not allowed.

`changePassword` accepts `params` of type `ResetPasswordParams`
[code]

Looking at endpoint `user/password/reset`
[code]
`userPasswordResetHandler` accepts following body
[code]
And we can see in the code this: `const { email, options } = r

[2021-12-02 21:56] alveshelio opened #53 "Accept `pathNames` as valid redirectTo in addition to full URLs"
Looking at `isValidRedirectTo` it only returns `true` if `redirectTo` starts with `ENV.AUTH_CLIENT_URL` (http://localhost:3000)
I'm wondering if we couldn't have a helper to create the `redirectTo`

Right now if we want to send a redirect URL, we need to provide a full URL (http://localhost:300/my-custom-url). However I'm wondering if we couldn't simplify things a bit for the user.

In my case I'd

[2021-12-02 22:45] nunopato commented on #50
@alveshelio thank you! We will review the PR.

[2021-12-03 16:24] alveshelio opened #54 "Better handling for email types and templates"
I've noticed when creating tests to change the password with ticket or send emails we were using strings to check the type of email.

For people foreign to the project like me it can be a bit confusing.
We can get the email type like so: `const emailType = message.Content.Headers['X-Email-Template'][0];`
And we assert that the emailType is `'email-confirm-change'` but then in the url we have:
`/ve

[2021-12-07 05:48] Mohamed-Kaizen opened #55 "Is there a documentation ?"
i was trying to run the [docker-compose.yaml](https://github.com/nhost/hasura-auth/blob/main/docker/dev/docker-compose.yaml), but there is some unknown env variables that i couldn't found even inside the [hasura-backend-plus environment-variables docs](https://nhost.github.io/hasura-backend-plus/docs/environment-variables).

Examples of the env:

* **AUTH_SMS_PROVIDER**: how many provider is there

[2021-12-19 07:45] beepsoft opened #56 "Development documentation"
It would be great to have some a documentation about how to do development on `nhost-auth` so that we could submit PR-s. I just tried

`yarn dev`

but it failed with

[code]

because of this line in `docker/dev/Dockerfile`

https://github.com/nhost/hasura-auth/blob/c328aa71ef2ce3e6e8fc1fbd8252975a25605dea/docker/dev/Dockerfile#L19

What is the intended way to run `nhost-auth` for development?

[2021-12-19 07:55] beepsoft opened #57 "Expose Hasura-auth over GraphQL rather than "REST""
I always wondered why the auth API-s are in REST and not in graphql, but I guess it is for compatibility, broader access and that you didn't want to manage two API-s.

Now as Hasura 2.1 is out and REST Connectors are public it should be fairly easy to provide builtin transformers for the auth API which would also expose it via Hasura:

https://hasura.io/blog/bring-rest-apis-as-a-data-source-to-has

[2021-12-22 22:05] TaylorFacen commented on #50
Thanks for posting because I just ran into this as well.

[2021-12-23 07:43] elitan commented on #53
I'm not sure I understand how this would help.

What are some values of `redirectTo` that you plan to use? Maybe we can start there and see where the current implementation of `isValidRedirectTo` is inadequate.

[2021-12-23 07:49] elitan commented on #57
Looks interesting, but what's the benefit other than "exposing it via Hasura"?

Generally I like the separation of:

- Data: `/v1/graphql`
- Auth: `/v1/auth`
- Storage: `/v1/storage`
- Functions `/v1/functions`

[2021-12-23 08:30] #56 closed

[2021-12-23 08:33] elitan commented on #56
I kept the `.env` file now in the repo for dev purposes.

Developing should be as easy as:

[code]

[2021-12-23 08:49] beepsoft commented on #57
I think it would make a nice unified API where all nhost related functionality (Hasura CRUD, auth, storage) is available via Graphql and so the clients don't need to use another kind of API (REST). It would make the overall nhost API much simpler:

- Data, auth, storage: `/v1/graphql`
- Functions: `/v1/functions`

In case of Javascript we have the nhost-js, but for mobile apps, we need to implemen

[2021-12-23 15:04] alveshelio commented on #53
What I'd like to use in `redirectTo` would be `/my-custom-redirect` instead of `https://my-site.com/my-custom-redirect`. I don't want to have a environment variable `WEBSITE_URL=localhost:3000` and have to create the same thing in Vercel and then do `${process.env.WEBSITE_URL}/my-custom-redirect` If I want to test this in different environments, how would you go about it?

[2021-12-29 13:05] st3phan opened #62 "'user' and 'me' roles not added when use allowedRoles"
Given I have the following set in `nhost/config.yaml`:

[code]

When I then do a `signUp` I expect the `user` and `me` roles to be added the to user by default even if I did not add them to the `allowedRoles` option.

[code]

[2022-01-12 16:00] elitan opened #64 "Construct email template links in Hasura Auth"
Instead of constructing links in the email template like this:

`href="${serverUrl}/verify?&ticket=${ticket}&type=emailConfirmChange&redirectTo=${redirectTo}"`

We should construct the link in Hasura Auth and then just pass a single link variable for the template to use.

[2022-01-12 17:03] RishiKumarRay commented on #64
Can you share the solution of fixing it ? or any references where i can found and learn

[2022-01-13 15:16] nunopato commented on #62
@st3phan thank you for pointing this out. We currently use `default_allowed_roles` only if `allowedRoles` is not specified, meaning `allowedRoles` effectively override default roles. What you are suggesting makes sense to me, we would need to also add the option to change default roles to the UI. /cc @elitan

[2022-01-13 18:26] nunopato commented on #57
That is correct, they depend on Hasura - my point is that the bigger the surface area, the more likely it is for it to become a point of failure.

We will try to come back to this soon, thanks for bringing this up.

[2022-01-13 19:37] elitan commented on #62
`default_allowed_roles` works similar to a default value in a database. If no value is specified the default value is used.

In the example above you specified `allowedRoles: ['freelancer']` and so you overrided the default value (`default_allowed_roles`).

Does it make sense? Is there any way we could make it more intuitive?

[2022-01-13 20:14] st3phan commented on #62
Yes, I understand the default/override principle but shouldn't `me` and `user` be roles that a user always needs?
Would there be a use case for a user without the `me` and `user` roles?

[2022-01-13 20:46] elitan commented on #62
Ah, I see. You're thinking of `me` and `user` roles as almost system roles that are **always** attached to a user.

Hmm, yea good question. I still favor the current behavior which I think is more flexible.

[2022-01-15 16:25] artistic-differences commented on #49
Is there any timeline for when custom JWT will be available in nhost v2?
I like the webhook approach best. It fits with AWS Cognito User workflow which, after use sign in, allows a custom function to be run to add the additional claim details into the generated JWT. https://docs.aws.amazon.com/cognito/latest/developerguide/user-pool-lambda-pre-token-generation.html

[2022-01-15 18:05] elitan commented on #42
@fracet Is this still an issue? We've not seen this in production nor locally when developing.

I'll close this for now but I'm happy to re-open if necessary.

[2022-01-15 18:05] #42 closed

[2022-01-15 18:18] elitan commented on #49
@artistic-differences No timeline as of now. We first need to decide on the optimal solution. THanks for pointing out how AWS Cognito handles this. 👍

Another alternative that Firebase uses:

Reference: https://firebase.google.com/docs/auth/admin/custom-claims

From my understanding, you can set claims to a user and those claims stay the way they are until they are changed. No extra data fetching

[2022-01-15 19:09] artistic-differences commented on #49
Wow quick feedback indeed.

For a different project we use AWS Cognito and Hasura add add these claims as highlighted. Just evaluating nhost against that. One of the main claims is orgainsation_id which we use for multi-tenant permissioning within the app. I.E. Nearly all tables have organisation_id and all tables are secured again JWT.x-hasura-organisation-id to ensure a tenant only has access to

[2022-01-15 19:32] elitan commented on #49
Yes there is a wide agreement on a solution for this and we do want this in place as soon as possible. This is a prioritized issue for us. Unfortunately, I don't expect us to do some quick fix like the webhook auth alternative you mentioned. We just have too much other stuff going on right now.

To keep everyone in this thread on the same page here's the different alternatives we've discussed:

-

[2022-01-15 19:45] elitan opened #65 "New refresh token expiration approach"
Every time a user signs in or refresh their access token (currently happens every 15 minutes) the existing refresh token gets deleted and a new refresh token is saved in the database and returned to the client.

This does not have any clear benefit. Instead it comes with some downsides:
- Race condition issues (the same refresh token is being used in two browser tabs at the same time to get a new

[2022-01-15 19:49] elitan commented on #55
Yea sorry we don't have this library particularly well documented.

To answer your questions:

- The only SMS provider that we support is Twillio
- `AUTH_PASSWORDLESS_SMS_TEMPLATE ` is a string but this env var is currently not used. Instead the SMS message is hard coded ([link](https://github.com/nhost/hasura-auth/blob/main/src/routes/signin/passwordless/sms/sms.ts#L99))

[2022-01-15 19:51] elitan commented on #55
You can see the env vars required for SMS auth to work here:

https://github.com/nhost/hasura-auth/blob/main/src/routes/signin/passwordless/sms/sms.ts#L91-L113

I'll close this issue for now but am happy to re-open if necessary.

[2022-01-15 19:51] #55 closed

[2022-01-16 16:39] artistic-differences commented on #49
Just to be clear if you go down the customClaims column route. When this column is converted into a JWT the JSONB needs to parsed and split into key, value pairs.

I.E
Column customClaims: "{  claim1 : claimValue1, claim2 : claimValue2 }"

needs to become separate key value pairs that are then available for use in Hasura for linking through to permissions
i.e.
     {"id":{"_eq":"x-hasura-custom-cl

[2022-01-17 08:02] elitan commented on #17
@joshmedeski Any thoughts on my previous comment? Would that approach be enough for now?

[2022-01-17 16:28] joshmedeski commented on #17
@elitan that could work but I'm no longer actively working with hasura-auth.

[2022-01-17 16:28] #17 closed

[2022-01-18 17:16] ArieJones commented on #49
Sorry just now catching up on this ... but could we just use an existing HASURA hook to a custom webhook.. as I put in this issue here..

(https://github.com/nhost/hasura-backend-plus/issues/643)

And if the HASURA_GRAPHQL_AUTH_HOOK environment variable is already in use.. then adding an NHOST_GRAPHQL_CUSTOM_AUTH_HOOK environment variable and if set it would call that web hook as well

Yes we woul

[2022-01-18 17:28] beepsoft commented on #49
Isn't the Hasura auth webhook gets called for _every_ graphql query? This doesn't seem to scale well.

[2022-01-18 18:16] ArieJones commented on #49
It might be in some scenarios cause issues.

If sticking with JWT .... if you add an NHOST_CUSTOM_AUTH_ACTION we could possibly look at updating this

https://github.com/nhost/hasura-auth/blob/104da12e4a8ae87a164099c76d27893078ef5695/src/utils/tokens.ts#L47

to include a call out to a Hasura action passing in the userId ... would remove the need to know within auth the location of the users custom

[2022-01-18 20:19] plmercereau commented on #57
We could weight the pros and cons between access through REST or GraphQL.

I guess it is also important to have a similar way to access the different Nhost services. As it is [not possible until now to upload files through Hasura](https://github.com/hasura/graphql-engine/issues/2419), storage will remain a REST service. It would be somehow inconsistent to handle one Nhost brick from REST while the

[2022-01-19 10:05] plmercereau opened #71 "limit passwordless authentication to existing and active users"
For the moment, when passwordless is enabled, any user with a valid email address can register and login, even when the user has been disabled.

In some cases we may want to block new users registering and to let the admin create new users.

To do so, we could change the behaviour in checking if `AUTH_EMAIL_SIGNIN_EMAIL_VERIFIED_REQUIRED` is set to `false` before registering a user.

This also sho

[2022-01-19 19:56] plmercereau opened #73 "extend OAuth to other providers"
[Grant](https://github.com/simov/grant) proxies 200+ Oauth providers. I should not require lots of efforts to plug it into Hasura-auth.

[2022-01-19 21:30] plmercereau commented on #49
Prototyping:

1.  **On startup**, `hasura-auth`:
    - checks if a `public.profiles` tables exists. If not, it creates it. Only one column is required: `id`, of type `uuid`, both primary key and foreign key that references `auth.profile.id`
    - checks if a `profile` object relationship exists in the `auth.users` table. If not it creates it.
    - if `public.profiles` exists, it checks every colu

[2022-01-19 21:49] plmercereau commented on #49
This [commit](https://github.com/nhost/hasura-auth/commit/d1108f6bc834b9e606ec684475c420c01c20ac22) illustrates the concept

[2022-01-20 15:53] alveshelio opened #74 "Allow users to use their own email provider and email templates"
Right now Nhost custom email templates isn't ready to go into production, as such and in order to not delay customers who are ready to go into production it would be nice if `nhost-auth` could provide some mechanism to allow us to handle email ourselves or let Nhost handle it.

Let's take an example here:
If we take a look at the sign up through email/password: https://github.com/nhost/hasura-auth

[2022-01-20 18:44] sangdth commented on #74
I would say a quick improvement could be to allow users to provide a template (hbs style or HTML for example) on nhost dashboard.

[2022-01-20 19:53] plmercereau commented on #74
Salut @alveshelio,

If I understood well, you want the client to be able to get the email verification ticket without sending the email. In this case, it defeats the purpose of email verification, and I would rather allow users to authenticate without verification in setting `AUTH_EMAIL_SIGNIN_EMAIL_VERIFIED_REQUIRED` to `false`.
Unless I misunderstood, we won't implement this approach and I'm the

[2022-01-20 19:53] #74 closed

[2022-01-20 19:57] makstr commented on #55
HI @elitan, my understanding is that hasura-auth replaces hasura-backend-plus. Can we safely assume this software will remain open source and will be possible to run independently of the Nhost offering? Just 2 days ago there was a docker/dev directory with example docker-compose.yaml and an .env file. It's gone now. Is there any plan on documenting the env variables and the deployment in the futur

[2022-01-20 20:45] plmercereau commented on #74
just bumped into the POST `/email-templates` endpoint:
For instance:
- add a `x-hasura-admin-secret` header
- post this:
[code]

IMO it is not ideal as the running `hasura-auth` container is supposed to be stateless, meaning the changes would be lost if it is replaced by another container. Still, could it temporary meet your need?

[2022-01-20 20:53] plmercereau opened #75 "The `/email-templates` endpoint is not reliable with on a stateless container"
This endpoint allows admin users to modify email templates files in the backend. However, these changes will be only stored in a container, which should be stateless.
As a result, it will create inconsistencies when scaling up horizontally. Also, changes would be lost when restarting/replacing the container.
We should come up with a better alternative, maybe in implementing the logic of the [`AUTH

[2022-01-21 11:13] elitan commented on #75
Yes, the idea was that the `AUTH_EMAIL_TEMPLATE_FETCH_URL` could be used to fetch an email template.

The parameters could be something like:

- type (e.g. Password reset)
- locale (e.g. en)

And the URL returns the subject and body for the email template.

[2022-01-21 11:22] elitan commented on #49
I'll just add my thoughts after some thinking.

I generally like the `customClaims` approach most. Here are my reasons:

- It's a simple solution (easy for users to understand, easy to write about in our docs)
- It's simple to update the claims.
- It's simple for us to always make work, instead of throwing errors due to incorrect configurations. E.g. if a key does not follow the correct [format](h

[2022-01-21 11:50] beepsoft commented on #49
So, the `customClaims` would be a field on `auth.users` right?

When would it be set?

Should we have an event trigger on `auth.users` so that when a new user is registered via `nhost-auth` Hasura calls the event handler where we generate the JSON(?) in `customClaims`. This is fine with me, the only problem is that when a call to `/signup/email-password` returns, the user's `customClaims` would no

[2022-01-21 15:04] elitan commented on #49
Yes, that was the idea.

Good question. I think we can't allow claims to be arbitrarily set during sign-up (security issues). So all custom claims should be set post sign up. Either via event triggers, manually, or something else.

### BUT

After discussing with @plmercereau the approach of specifying something like:

[code]

and having Hasura Auth get the values via GraphQL relationships (startin

[2022-01-21 15:09] elitan commented on #55
Yes Hasura Auth will always remain open source. You can still access the docker-compose.yaml file here: https://github.com/nhost/hasura-auth/blob/main/docker-compose.yaml with the .env.example file here: https://github.com/nhost/hasura-auth/blob/main/.env.example

Hopefully, we'll get better at internal documentation in the future.

[2022-01-21 15:16] kratam commented on #49
+1 for the webhook approach (input: user's id, output: custom claims json).

Apart from being the most flexible, it's pretty common (e.g. cognito and auth0 both use something similar).

[2022-01-21 15:28] beepsoft commented on #49
OK, so eventually you will do a GraphQL (Hasura) query to collect the claim data, right? And this is pretty much what was my original proposal as well. 😃  Except that in your case it will be much more controlled and will look for just specific fields, but you will have the same issues as running a user defined GraphQL query (run a query, handle errors, timeouts, etc.). And if that's the case, then

[2022-01-21 15:49] elitan commented on #49
@kratam Good input! I think this is the reference from Auth0: https://auth0.com/docs/get-started/authentication-and-authorization-flow/customize-tokens-using-hooks-with-client-credentials-flow

@beepsoft Not saying we'll do one or the other :>. Just that it was appealing :D

[2022-01-21 16:17] beepsoft commented on #49
@elitan I will be happy with any solution at the end, don't get me wrong. 😃 I just really think that the GraphQL approach is the most versatile and has no worse performance or implementation impact than any other solution.

For the syntax I may update my proposal this way, so that it would not include the full query and these claim queries could be merged into a single GraphQL query easier.

[code

[2022-01-23 07:56] elitan opened #76 "Hasura Console data browser issue with id metadata"
We set the `id` column to `id` using Hasura metadata [here](https://github.com/nhost/hasura-auth/blob/main/src/metadata.ts#L212). This has no real impact. The field name will be `id` with and without the metadata.

There is a [bug](https://github.com/hasura/graphql-engine/issues/8020) in the Haura Console with setting the `id` metadata, effectively making the Hausra Console unable to use with data

[2022-01-23 19:23] elitan commented on #49
I'll just highlight this point from @beepsoft

I just want to highlight that this is a top priority issue for us. Given that there are a few different possible solutions we want to take our time to evaluate what approach would suit best.

We'll update you with learnings and insights during our process and hope for the same kind of valuable feedback :)

[2022-01-24 08:15] #71 closed

[2022-01-24 08:46] plmercereau commented on #50
Thanks for your contribution, the PR has been merged

[2022-01-24 08:46] #50 closed

[2022-01-24 08:55] #76 closed

[2022-01-24 09:36] makstr commented on #55
Cheers, thanks for clarifying and for keeping hasura-auth open source  👍

[2022-01-25 09:21] mmmmillar opened #79 "User is deleted if Twilio message fails on sms passwordless login"
If Twilio errors when attempt to sign in via sms passwordless, the user will be deleted whether it was newly inserted or not

[code]

[2022-01-25 12:25] regalstreak opened #80 "Handle locale, allowedRoles and defaultRole too. It currently handle only redirectTo"
Currently we're supporting only `redirectTo`, add support for `locale`, `allowedRoles` and `defaultRole`

https://github.com/nhost/hasura-auth/blob/main/src/routes/signin/providers/utils.ts#L255-L258

Related: nhost/nhost#188

[2022-01-25 16:15] mmmmillar opened #81 "Incorrect env var name for AUTH_ALLOWED_USER_ROLES"
https://github.com/nhost/hasura-auth/blob/a5959413322415a23012d67773ca65387235503d/src/utils/env.ts#L133

I think this should be `AUTH_USER_ALLOWED_ROLES`

[2022-01-26 13:14] plmercereau commented on #81
Hello, actually after thoroughly checking the code, it turns out `ALLOWED_USER_ROLES` is never used, but `AUTH_USER_DEFAULT_ALLOWED_ROLES` is (except for tests that I will correct). I will clean the code up so it won't confuse anybody anymore.
Thanks for reviewing the code, it is very helpful to improve its quality!

[2022-01-27 06:50] elitan commented on #81
If I remember correctly the purpose of `AUTH_ALLOWED_USER_ROLES` is the specify the allowed user roles that a user can set on registration.

If no roles are set, the user will be given the `AUTH_USER_DEFAULT_ALLOWED_ROLES`.

[2022-01-27 08:11] plmercereau commented on #81
Maybe. But right now such mechanism is not implemented nor on top of our roadmap, so I cleaned up the code to stop mentioning this unused variable

[2022-01-27 08:27] #31 closed

[2022-01-27 08:52] plmercereau commented on #49
@beepsoft the PR simplifies your example to:
[code]
GraphQL query is automatically generated and result is transformed with JSONata.

I agree a webhook would offer more flexibility. Yes, webhooks are used by other competitors. But we also have to keep in mind that `hasura-auth` is a side-car to Hasura:
- the main aim here is to send claims back to the Hasura
- we assure user permissions data is st

[2022-01-27 09:00] beepsoft commented on #49
Thanks @plmercereau, I actually like your approach! And you are right, it is semantically the same as was my suggestion but in a more controlled way. My gut feeling is that we will need more flexibility in the future in case the claim calculation cannot be statically declared and need to involve an external system.

Anyways, I'm very happy to have custom claims back! 😃

[2022-01-27 09:32] #81 closed

[2022-01-27 10:20] kratam commented on #49
I just want to highlight the current approach:
- requires us to change every permission rule in the app (since they currently use a custom `x-hasura-*` header) - this stops me from upgrading the nhost v2
- blocks the "column presets" feature of the insert permissions since you can only use session variables there (e.g. auto-populate a column with the current user's `group_id` upon insert)

[2022-01-27 12:35] mmmmillar commented on #81
`AUTH_ALLOWED_USER_ROLES` is used in roles.ts but it was getting its value from `ALLOWED_USER_ROLES` (so it was being used). I think using `AUTH_USER_DEFAULT_ALLOWED_ROLES` is incorrect in this context?

[2022-01-31 08:16] plmercereau opened #83 "Endpoint to verify a JWT is valid"
cc @dbarrosop
POST endpoint: `/token/verify`
in the body:
[code]
2xx http response if JWT is verified, 4xx response if not

[2022-01-31 08:18] plmercereau opened #84 "Social login doesn't respect limited emails or domains"
cc @dbarrosop

[2022-01-31 08:26] plmercereau opened #85 "ability to disable email/password signup"
cc @dbarrosop

[2022-01-31 17:35] #75 closed

[2022-02-03 04:35] fungilation opened #200 "Docs needed for deployed app with magic links auth"
For Nhost Auth.

In `nhost/config.yaml` on a nhost cli BE setup.
- what's `client_url` and `allowed_redirect_urls`? Is allowed_redirect_urls expecting a comma separated values (strings)?

Search in source code is disconnected on hasura backend plus vs hasura-auth repos, and there's no website docs for these. When deployed apps need magic link to hit and redirect not on localhost.

Deploying FE on

[2022-02-03 11:42] msalehy opened #91 "hasura-auth docker local error"
Local docker for auth return below error for initiate migration for first time

[code]

[2022-02-03 14:57] plmercereau commented on #91
You may need to add [this init script](https://github.com/nhost/hasura-auth/blob/main/docker/initdb.d/0001-create-schema.sql) to your postgresql database

[2022-02-04 03:12] fungilation opened #92 "Request: Support other popular social logins"
What's missing on popular ones:
- Discord
- Twitter
- Apple

In addition to these currently supported on nhost.io:

<img width="786" alt="Screen Shot 2022-02-03 at 7 11 15 PM" src="https://user-images.githubusercontent.com/3803466/152465947-3156b7c2-a199-4116-af97-7914b29916c9.png">

[2022-02-07 10:38] sangdth commented on #92
I mentioned this one in [Discussion](https://github.com/nhost/nhost/discussions/118), as well as in recent community call.

[2022-02-17 06:35] elitan opened #93 "Missing `v` at start of docker image tag"
As an example: Hasura Auth v0.2.0 has the [tag `0.2.0`](https://hub.docker.com/layers/nhost/hasura-auth/0.2.0/images/sha256-28b924ba7fffc60d8e0f925c185c8b39d6abfd9da2fee649d87a4703efa41925?context=explore) instead of the expected `v0.2.0`.

[2022-02-17 07:02] plmercereau commented on #93
What would be the rationale of not following semver?
https://semver.org/#is-v123-a-semantic-version

[2022-02-17 07:05] elitan commented on #93
Hmm, maybe it's just Hasura who append their tags with `v`.

Seems like all other major images don't append `v` such as Ubuntu, Postgres, Node, Redis, etc.

Closing :)

[2022-02-17 07:05] #93 closed

[2022-02-19 15:27] beepsoft opened #94 "Error reporting in case of wrong AUTH_JWT_CUSTOM_CLAIMS definitions"
Now when something is wrong with AUTH_JWT_CUSTOM_CLAIMS definition, eg. when it results in an erroneous Hasura graphql query, `/signin/email-password` doesn't report an error and simply doesn't generate the claims in the access token.

The only way to figure out what went wrong is to check the logs of the `nhost-auth` and `nhost-hasura` containers started by the `nhost cli`.

Either the authentica

[2022-02-19 15:36] beepsoft opened #95 ""null" value in custom claims when AUTH_JWT_CUSTOM_CLAIMS cannot generate a value"
When for a given user some claim cannot be calculated for the AUTH_JWT_CUSTOM_CLAIMS hasura-auth generates `"null"` string value for that claim, for example:

[code]

In this case we have `"x-hasura-organization-id": "null"`, because the user trying to log in is not associated with an organization.

It may be better to leave out custom claim fields from the JWT, which result in `"null"` value, oth

[2022-02-21 19:50] alveshelio opened #96 "How to handle invalid or expired tickets"
Hi,

Right now when we send an email validation on sign up, we can specify an `redirectTo`, however, this only works if the ticket is valid. If the ticket is not valid or has expired then the user stays in this URL
https://my-backend-url.nhost.run/v1/auth/verify?&ticket=verifyEmail:ticket-id&type=emailVerify&redirectTo=my-front-end-url
And it simply display a JSON object `{"statusCode":401,"error"

[2022-02-22 00:01] fungilation commented on #92
I see in `nhost/config.yaml` and README on this repo, that Twitter and Apple providers are included in hasura-auth now. What's missing for me is still
- Discord

and 1 more:
- Twitch

Since passport strategies are leveraged (https://github.com/nhost/hasura-auth/tree/main/src/routes/signin/providers), can these 2 be added with strategies I've integrated and tested elsewhere?
- https://github.com/oa

[2022-02-24 10:21] plmercereau opened #98 "review the payload validation"
We're validating the body payload twice. For instance:
[code]
1. `createValidator().body(signUpEmailPasswordSchema) `
2. in `signUpEmailPasswordHandler` with `isValidEmail`, `isPasswordValid`, `isValidRedirectTo`, and  `isRolesValid`

We should streamline validation with Joi

[2022-02-24 11:29] plmercereau opened #99 "SMS passwordless authentication does check if the user is active or not"

[2022-03-01 12:17] elitan opened #100 "Activating Twitter sign-in provider causes Hasura Auth to break on startup"
[code]

[2022-03-01 19:24] plmercereau opened #103 "automatically add role to `auth.roles` when a new role is created in hasura metadata"
See
https://github.com/nhost/nhost/discussions/31

[2022-03-02 13:25] #92 closed

[2022-03-02 14:21] elitan commented on #49
To original "Custom JWT Claims" issue is [fixed](https://github.com/nhost/hasura-auth/pull/78) and [released](https://github.com/nhost/hasura-auth/releases/tag/v0.2.0).

[2022-03-02 14:21] #49 closed

[2022-03-04 12:33] mmmmillar opened #104 "Docker images 0.3 / 0.3.0 go into restart loop"
Upgrading from 0.2 (have gone to 0.2.1 for now, works fine)

[code]

[2022-03-04 18:40] plmercereau commented on #104
Hello and many thanks for flagging this.
We just published a [0.3.1 version](https://github.com/nhost/hasura-auth/releases/tag/v0.3.1) that fixes this bug.
[Docker hub link](https://hub.docker.com/layers/nhost/hasura-auth/0.3.1/images/sha256-6e39d5bc720b1042c4d19d53e14ed1d9dce67ace83c1a5c524151bd0a9c4ce80?context=explore)

[2022-03-04 18:40] #104 closed

[2022-03-11 07:27] beepsoft commented on #94
Somewhat related possible enhancement in the UI of Permission Variables, which generates the AUTH_JWT_CUSTOM_CLAIMS in the nhost console: it would be great if the UI provided autocomplete so that it would be practically impossible to enter wrong paths.

[2022-03-14 08:43] elitan commented on #80
Fixes: https://github.com/nhost/nhost/issues/188

[2022-03-14 16:15] #80 closed

[2022-03-15 19:17] mmmmillar opened #116 "Cannot signup new user since update from v0.2.1"
[code]
returns
[code]
From my env: AUTH_USER_DEFAULT_ALLOWED_ROLES=me,user,org_owner

[2022-03-16 10:27] elitan commented on #116
What version did you update to?

[2022-03-16 11:00] mmmmillar commented on #116
0.4.2

[2022-03-16 12:43] elitan opened #118 "Providers that don't return an email fail with 500"
As an example, Twitch does not return the user's email unless the email is verified.

Docs: https://dev.twitch.tv/docs/api/reference#get-users

Instead of returning a 500 error, we should redirect the user to the client with error query parameters.

[2022-03-16 12:52] elitan opened #119 "Unable to sign in with a provider that does not return an email"
We currently require an email to be returned from a provider for a sign-in to be successful. We even automatically set emails we get from providers to [verified](https://github.com/nhost/hasura-auth/blob/main/src/routes/signin/providers/utils.ts#L140).

This is not ideal, because emails are not universally the way to sign in to services, like SMS.

Twitch does not return an email unless it's verif

[2022-03-17 19:15] alveshelio opened #121 "Add flexibility to emails"
Right now I feel like email templates are too rigid and I think it can be improved. Looking at the code in `email.ts`

https://github.com/nhost/hasura-auth/blob/666b411b6fcd8b8e265d7668b07cd385fc9f816b/src/email.ts#L32-L41

We can see that you are replacing the placeholders with the variables and then here: https://github.com/nhost/hasura-auth/blob/666b411b6fcd8b8e265d7668b07cd385fc9f816b/src/emai

[2022-03-17 20:43] elitan commented on #121
I don't think it's a good idea that we let clients decide the content of the email. I can see lots of problems with this.

For example, what if a hacked do this on your app:

[code]

This email will be sent from your (app's) SMTP server.

Meaning, **any hacker** can send an email to **any email address** with almost **any content**.

That's why I don't think this approach is a good idea.

[2022-03-17 21:15] alveshelio commented on #121
Hi Johan,

If someone hacked into my app, this would be the last of my problems as he could have greater chances of doing what more damage than this.
He could read all my database content, he could do way more nasty things than sending users to a website to change their email.

Is it any different than having us handling emails on our side? I mean if we decide to bypass the SDK and handle email ou

[2022-03-17 21:30] elitan commented on #121
I think you misunderstood me.

I'm not saying that "someone hacked into" your app and has access to your database.

But the change you're proposing would mean that anyone would be able to send _basically_ any email they want to any email address using your SMTP credentials. That's not good.

I think it's important that the email templates and variables are defined securely on the server.

[2022-03-17 21:51] nbouvrette commented on #121
@elitan is there a way to use the SDK on the server-side to achieve similar results? right now the way templates are handled is not flexible enough for our needs.

[2022-03-18 02:11] nbouvrette commented on #121
@elitan by the way you got me thinking - what kind of security is there on this API? From your response, are you saying anyone right now can send templated-email content to anyone? Injecting the content is one way to "hack" but it does look to me like this type of functionality should be handled on the server-side to prevent abuses.

[2022-03-18 10:16] elitan commented on #121
Similar to what?

What is it that you want to be able to do, that's not currently possible with the current setup with email templates?

Depends on what you mean with "templated-email content". WHa you can do now is define different templates for different languages.

As an example, we've created an example [here](https://github.com/nhost/nhost/tree/main/examples/custom-email-templates). In the ex

[2022-03-18 13:10] alveshelio commented on #121
Hi @elitan,

I'm sorry for the misunderstanding, it's mainly because of my inexperience with backend :) Indeed, I totally forgot that we would be executing this code in the client side, thus making it vulnerable to unwanted things.

I am going to close this issue and resin myself to use email templates as it is :D

Thank you for your time

[2022-03-18 15:42] #119 closed

[2022-03-18 21:40] elitan commented on #118
Fixed in https://github.com/nhost/hasura-auth/pull/122 by allowing to sign in even if a provider does not return an email address.

Also, see here: https://github.com/nhost/hasura-auth/issues/119

[2022-03-18 21:40] #118 closed

[2022-03-18 22:37] fungilation opened #123 "Adding JWKS"
Creating this issue after talking with @elitan. We'll likely have a need to integrate with 3rd party BE/auth using JWKS public keys, and currently hasura-auth doesn't support JWK. Quoting

@plmercereau you created a JWKS route for hasura backend plus before? If we want to contribute to hasura-auth in adding JWKS support, can use some pointers on how best to go about it. Or we could collaborate/spo

[2022-03-22 08:13] chanthavong opened #124 "[Help me 🙏] Route not found => http://[myip]:4000/auth/register"
param
[code]

respone
[code]

[2022-03-24 01:00] fungilation opened #125 "Add Discord error redirect, for user canceling on oauth screen"
On Discord. If user click Cancel on the discord oauth screen, user gets redirected to something like https://vvfatfhruxzgfdfaefic.nhost.run/v1/auth/signin/provider/discord/callback?error=access_denied&error_description=The+resource+owner+or+authorization+server+denied+the+request&state=e821fa91-955a-4e2e-a338-215262334f65

Should instead, redirect to auth redirectTo target as if successful, but wi

[2022-03-25 11:04] elitan commented on #124
Can you try: `http://[myip]:4000/signup/email-password`?

[2022-03-25 12:32] plmercereau opened #126 "`x-hasura-isAnonymous` claim does not follow kebab-case syntax"
To keep things consistent, we should name it `x-hasura-is-anonymous` instead

[2022-03-25 12:45] plmercereau commented on #123
Hi Garry,
Yes, hasura-backend-plus has a JWKS endpoint. It only worked when using RSA keys as SHA is a symmetric algorithm.
Also, there was no key rotation mechanism in HBP.

It is not a top priority for us to implement such an endpoint, but any contribution is most welcome!
You can have a look at these two pieces of code if interested:
https://github.com/nhost/hasura-backend-plus/blob/master/src/

[2022-03-27 05:07] chanthavong commented on #124
thanks 🙏☺️

[2022-03-27 05:07] #124 closed

[2022-03-31 08:13] #98 closed

[2022-03-31 08:13] #46 closed

[2022-03-31 08:13] #84 closed

[2022-03-31 08:13] #116 closed

[2022-03-31 16:06] mmmmillar opened #129 "Hasura auth container fails to start after upgrade from v0.2 to v0.5"
Migrations are applied correctly on a fresh db, seems to break on existing db

Possibly related to https://github.com/nhost/hasura-auth/commit/445ecb48793009399e5f5d006143c984090de594

[code]

[2022-04-01 14:16] plmercereau commented on #129
Hello @mmmmillar,
Thanks for this. We'll fix this very soon.

Reproduced with the following steps with the CLI:
1. Create a project with `nhost init`
2. Remove the `.nhost` folder if existing
3. In the `nhost/config.yaml` file, set the Hasura Auth version to `0.2.0`:
[code]
4. Run `nhost -d` and wait until all services has started
5. Stop Nhost
6. Change the Hasura Auth version to `0.5.0` in `nhos

[2022-04-01 17:50] #62 closed

[2022-04-04 20:54] ArieJones opened #135 "Passwordless signin should return id of user"
It would be optimal if the passwordless signup would return the id of the user so that it could be properly used in a scenario such as an Administration flow where you create a user but do not want to create a password

-- Passwordless response
https://github.com/nhost/hasura-auth/blob/dc4a4126cd36d73a67d3e0ead07c061cd3a31f9f/src/routes/signin/passwordless/email.ts#L112

-- Signup response
https:/

[2022-04-05 19:02] #126 closed

[2022-04-05 19:32] #54 closed

[2022-04-06 16:48] halindraprakoso opened #136 "issue running the example with external postgres"
Hello,

1. I was trying the docker-compose-example.yaml --> it worked

2. then I changed hasura-auth's `HASURA_GRAPHQL_DATABASE_URL` to `postgres://postgres@host.docker.internal:5432/test` --> still worked

3. changed graphql-engine's to the same and I'm having this issue (I've run the initdb script):

[code]

what could be the problem?

[2022-04-06 17:28] halindraprakoso commented on #136
seems like only changing graphql-engine's `HASURA_GRAPHQL_DATABASE_URL` to `postgres://postgres@host.docker.internal:5432/test` already caused the error regardless of hasura-auth's config

[2022-04-07 16:12] fungilation opened #137 "[0.6.0] All social logins are broken, including discord"
Example flow on logging in with Discord
- http://localhost:1337/v1/auth/signin/provider/discord?redirectTo=http%3A%2F%2Flocalhost%3A3000%2Fprofile, 302 redirect to
-  http://localhost:3000/profile?error=invalid-request&errorDescription=%22redirectTo%22%20must%20be%20one%20of%20[https://midnightsociety.com/claws-nft,%20https://vsm-nft-fe.vercel.app/claws-nft,%20http://localhost:3000/claws-nft]

has

[2022-04-07 16:22] fungilation opened #138 "Playwright E2E tests to automate detection of login methods breakage"
With #137 and frequent enough breakages on releases. hasura-auth can greatly benefit I believe with automated E2E tests. Playwright is the best I know and have used in doing most robust, fast E2E tests from FE as a user would see and interact, as Playwright uses headless and real browsers. (not drivers like Selenium or Cypress) It's an offshoot of Puppeteer which is Chrome only.

A skeleton FE app

[2022-04-13 18:53] ejkkan opened #139 "local docker compose setup not working"
Computer: Apple M1 Max 2021

Running example docker compose file from this repo results in an unhealthy container.

Steps:
1: installing steps from: https://docs.nhost.io/reference/hasura-auth/installation
2. run 'docker ps', output  (health: starting)
3. wait for about 1 min
4. run 'docker ps', output  (unhealthy)
5. open localhost:4000/*any path*, this returns:
`{
"status": 404,
"message": "Rout

[2022-04-16 17:21] ikapo commented on #139
Same happens to me on Ubuntu Server 20.04

[2022-04-16 19:09] plmercereau commented on #139
Hello,
Here's [a pull request that proposes to remove the use of the `AUTH_HOST` environment variable](https://github.com/nhost/hasura-auth/pull/141), as it complexifies things without a clear added value.

In the meantime, could you check if [this docker-compose](https://gist.github.com/plmercereau/7565e6064854847cf220ddc723e30ecf) solves your issue?
It is basically a copy of the original example

[2022-04-17 17:20] ejkkan commented on #139
Unfortunately neither of these makes a difference. I'm kinda feeling that it is not the AUTH_HOST flag that is the problem.

Have tried running the docker compose file with the master branch and the PR. They run hasura on localhost:8080 and hasura auth on localhost:4000
- localhost:4000/healthz gives OK
- localhost:4000/v1/auth/* gives
`{
"status": 404,
"message": "Route not found",
"error": "rout

[2022-04-19 12:16] plmercereau commented on #137
Hello Gary,

Thanks for this issue. [This PR](https://github.com/nhost/hasura-auth/pull/142) will solve the problem.
In the meantime, you could add `http://localhost:3000/profile` to the `AUTH_ACCESS_CONTROL_ALLOWED_REDIRECT_URLS` environment variable (or `auth.access_control.allowed_redirect_urls` in the `config.yaml` file if using the Nhost CLI), from the url you share, I guess you would need to

[2022-04-19 15:45] fungilation commented on #137
suggestion for future. Can `AUTH_ACCESS_CONTROL_ALLOWED_REDIRECT_URLS` be deprecated entirely? Should rely on `AUTH_CLIENT_URL` only, so apps whitelist only domains, not specific paths the login want to redirect to. This here is 3x3 (3 domains, 3 paths) and keep updating this is tedious. Security like CORS should lie at domain level?

[2022-04-19 18:48] elitan commented on #137
I think it's good that we have two separate variables here.

`AUTH_CLIENT_URL` is the default URL of your app. If you don't specify a `redirectUrl` Hasura Auth will fall back to this value. This would not be possible if `AUTH_CLIENT_URL` was an array of values.

[2022-04-19 21:31] fungilation commented on #137
Sure, only since `AUTH_CLIENT_URL` is having dual purposes: allowed redirect whitelisting, and default redirectTo. If the whitelisting purpose is separated out as a dedicated var, that var could be an array of allowed domains.

I just don't see the security value in `AUTH_ACCESS_CONTROL_ALLOWED_REDIRECT_URLS` in whitelisting paths. The 0.6.0 breakage is on it being "assumed" required, but I for on

[2022-04-19 21:31] #137 closed

[2022-04-20 06:50] plmercereau commented on #139
Hi Erik,

Nhost cloud runs hasura, hasura-auth, hasura-storage and functions, and exposes them through a reverse proxy:
- `/v1/graphql` -> hasura
- `/v1/auth` -> hasura-auth
- `/v1/storage` -> hasura-storage

The docker-compose you used shows how to run hasura-auth together with hasura, but does not mimick how nhost cloud works.
As a result, instead of using `localhost:4000/v1/auth/*`, you should

[2022-04-20 07:31] #139 closed

[2022-04-20 16:59] #129 closed

[2022-04-27 11:44] plmercereau opened #147 "Remove email `x-` headers"
and deprecate locals used for creating the `link` value that is available in email templates

[2022-04-27 12:03] plmercereau opened #148 "Put `refreshToken` in the query parameters rather than in the hash"
SSR need to access it so it can consume it after an email or Oauth redirection.

[2022-04-27 12:33] gedw99 opened #149 "makefile like https://github.com/nhost/hasura-storage/blob/main/Makefile"
would make things smoother for contributors.

Unless of course https://github.com/nhost/hasura-storage boots up https://github.com/nhost/hasura-auth for you, but i dont think it does.

[2022-04-27 20:30] plmercereau commented on #149
Hello Gerard,
Thanks for the suggestion, yes, that would be great!
Would you have some time to spare to prepare a skeleton of a makefile?

[2022-04-28 12:06] #148 closed

[2022-04-30 11:37] L3K0V commented on #79
@mmmmillar @elitan any suggestions what should be the behaviour in case of error?

[2022-04-30 15:04] gedw99 commented on #149
I don’t have time right now.

But I think the  hasura storage project looks like a good template.

[2022-05-01 10:03] masterbater opened #151 "MFA backup codes"
- Session Management (Logout from other sessions or particular session)
- Backup Codes In case MFA is lost or forgotten
- Webauthn Yubikey

[2022-05-01 21:04] cocodrino opened #152 "do you have any example using Oauth providers?"
Hi, this seems really promising, love the fact about how simple is use it for user/password authentication, but the documentation using oauth providers seems not be enought, do you have some examples or documentations about how use it? thank you!

[2022-05-01 21:43] shiftlabs1 commented on #91
@plmercereau  please open. I think the first part of  applyMigrations method call in hasura-auth should be
[code]
before trying to apply migrations. not everyone has accessible DB to start running the init script first

[2022-05-02 06:25] plmercereau commented on #91
In some other cases, the postgres user is not allowed to create schemas.
We could find a way to solve both cases

[2022-05-02 06:33] plmercereau commented on #151
you can sign out to all connected devices in adding `{ "all": true }` to the http post payload on the `/signout` endpoint.
See the [/signout endpoint in the api reference](https://docs.nhost.io/reference/hasura-auth/api-reference)

I renamed this issue for MFA backup codes, and created a separate issue for Webauthn Yubikey

[2022-05-02 06:34] plmercereau opened #153 "Webauthn Yubikey"
Suggested by @masterbater

[2022-05-02 13:31] masterbater commented on #151
Thanks for pointing it out about signing out on all of the device. I also figure out how to list and handle by retrieving the refresh_tokens table

[2022-05-05 19:13] MrVanosh opened #154 "Crash when Apple Sign in enabled"
When I have apple sign in enabled in my .env hasura-auth crashes with error:
[code]
.env
[code]

[2022-05-06 12:58] mmmmillar commented on #79
@L3K0V it feels like you either need some sort of flag set when a new user, or you need separate execution paths for new and existing users. ie its ok to delete the user if a new user

[2022-05-06 15:42] L3K0V opened #155 "Project incompatible with pnpm 7.0.0"
Hello 👋,

I'm trying to contribute to the project but unfortunately I cannot use `dev`, `build` and `build:docker` commands.

**Edit: the issue appears when use `pnpm` version 7.0.0**
**Workaround: Install pnpm@6**

Whatever command I'm trying to execute I get:

[code]

@plmercereau I saw you are most active here, so can you guide me what could be the issue?

[2022-05-06 15:49] L3K0V commented on #155
It looks the issue is fixed using `pnpm install --shamefully-hoist`. Is this the right approach installing the dependencies for this project?

[2022-05-06 15:51] L3K0V commented on #155
When trying to run `pnpm run dev` I get:

[code]

[2022-05-07 10:46] purplefish32 commented on #136
I think the postgres database has to be called "default" in Hasura for it to work

[2022-05-09 17:18] mmmmillar opened #157 "env var to disable sso signup"
Hi, would you consider an env-var-enabled enhancement that allows SSO login for existing accounts, but disables SSO signup? Atm if you login with Google and a user does not exist it creates a user and logs them in.

eg AUTH_PROVIDER_SIGNUP_ENABLED (true by default)

[2022-05-10 16:19] alveshelio opened #158 "Hasura-auth doesn't check/capture invalid locale when using Oauth"
When logging or signing up with a social network it hangs on the callback.
The request to `https://www.linkedin.com/oauth/v2/authorization-submit?app_id=...` goes through, however, the request to `http://localhost:1337/v1/auth/signin/provider/linkedin/callback?code=...&state=...` hangs.

[2022-05-11 08:16] elitan commented on #157
I think this is a good idea.

In the meantime, you can use the `AUTH_ACCESS_CONTROL_*` env vars to block/allow emails to sign up.

[2022-05-11 08:53] elitan commented on #135
Would it be enough that the user id is only returned if a user is created during the passwordless signing flow?

The problem with always returning the user id is that now anyone can get the user id of any email in your system.

[2022-05-13 02:29] fungilation commented on #125
Issue also applies to Twitch for example. Redirect on oauth cancellation should be applicable to all providers where applicable

[2022-05-13 11:37] djedi commented on #155
Ditto. Thanks for the tip!

[2022-05-16 09:03] nunopato commented on #158
I am closing this issue in favor of https://github.com/nhost/hasura-auth/issues/44

[2022-05-16 09:03] nunopato commented on #158
I am closing this issue in favor of https://github.com/nhost/hasura-auth/issues/44

[2022-05-16 09:03] #158 closed

[2022-05-16 21:12] GavanWilhite opened #160 "Including a query parameter in the redirectTo field returns a URL with two question marks"
I was attempting to notify my app when it's returning from a passwordless redirect, but when I include a query parameter in the redirectTo field, the URL i get back has two question marks in it.

[2022-05-19 01:33] chanthavong opened #163 "Applying migrations... fail"
first run docker composee [nhost/hasura-auth] (help me 🙏 😅)

error code

[code]

[2022-05-20 18:53] elitan commented on #163
Could the error "certificate has expired" be related to Postgres and any certificate you might have there?

[2022-05-20 19:58] elitan commented on #44
@alveshelio What is the use case for you? My initial thinking with `locale` was for languages only using [ISO 639-1 codes](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) but do you plan to also use it for location/region too?

Would you have different email templates for `pt-pt` and `pt-br`?

[2022-05-21 03:33] halindraprakoso commented on #136
that seems to be it. Additionally, I had to remove/rename an existing table called `user` to something else.

[2022-05-21 03:33] #136 closed

[2022-05-21 07:26] kratam commented on #65
Do you need anything to move this forward?

[2022-05-21 08:23] #163 closed

[2022-05-23 04:57] dohomi commented on #65
this would be very helpful, currently the refresh expiration is way to short.

[2022-05-23 12:50] #83 closed

[2022-05-24 10:01] #99 closed

[2022-05-24 10:01] #135 closed

[2022-05-24 15:27] yannickglt opened #166 "Can the callbackURL be specified as parameter?"
In our organization, we have only one instance of `hasura-auth` in production but it is pointed by several domains (`auth.foo.io`,  `auth.foo.bar`, etc).
We would like to be redirected to the original `hasura-auth` URL after login.

Currently, we are always redirected to the [AUTH_SERVER_URL ](https://github.com/nhost/hasura-auth/blob/9c6d0f4ded4fc8fd1b8031926c02796c74a7eada/src/routes/signin/prov

[2022-05-24 19:01] plmercereau commented on #166
Hello Yannick,
Please correct me if I misunderstood your suggestion.

Some actions are indeed redirected to `AUTH_SERVERL_URL`, and this cannot be changed as this redirection is required to complete certain tasks, for instance to handle the authentication confirmation from an Oauth provider, to confirm an user verified their email when clicking on a confirmation link etc.

However, once this actio

[2022-05-24 19:20] yannickglt commented on #166
Hi,

First, thanks for your fast answer.

Then, it's actually related to the AUTH_SERVER_URL variable.

I wondered if, to tackle the confirmation from OAuth providers, this variable could not be sent during the initial provider call as URL parameter.
For the second example, when clicking on an email to verify the user, I guess the server URL could be passed as URL parameter in the request which tr

[2022-05-25 14:33] Pascal-Orthopy opened #168 "Incorrect log warning when sending emails"
When a new user signs up, we get the following error log messages "No template found at /app/email-templates/en/email-verify/body.txt" and also here in the repo there is no "text version" of the emails.

Is there an error in our configuration, is a template missing or is this intentional?

We have Nhost v2 set up on AWS as a self-hosted solution.

[2022-05-26 06:39] IgorWang commented on #168
same issue

[2022-05-26 16:40] plmercereau commented on #168
Hello,
Thanks for this. Yes, it is not a bug, but an incorrect log entry. I'm reopening and changing the title so we can put some efforts in muting this warning

[2022-05-26 21:48] sean-nicholas opened #169 "Webhooks"
I wanted to discuss webhooks with you and would love to hear your thoughts.

## Exemplarily scenarios
- Send magic link via slack / teams instead of email
- Add http based email services like sendgrid / MailChimp
- Send sms with other providers
- Customize mail templates conditionally (users from domain X get another mail than users from domain Y)
- Add custom claims conditionally
- Custom oAuth p

[2022-05-30 01:05] alveshelio opened #171 "Social Login with LinkedIn throws 500 when user cancel autorization"
If the user tries to sign in through Linkedin and then, when arriving at the screen:
![image](https://user-images.githubusercontent.com/8176422/170899877-2d9ccb88-a06f-47c6-a909-8c5192249799.png)
and if you click cancel, you'll be redirected to this page:
https://fkxqztcepombfuibkyom.nhost.run/v1/auth/signin/provider/linkedin/callback?error=user_cancelled_authorize&error_description=The+user+cance

[2022-05-30 13:58] plmercereau opened #173 "Anonymous users should not be able to change email or password"
1. Signed in anonymously
2. Changed my email address
3. Clicked on the link that I received through Mailhog
--- note: User has been updated, email is there, but I'm still anonymous ---
4. Created a password for my account
5. Signed out (--- note: couldn't find any deanonymization mechanism ---)
6. Tried to sign in with email address and password
Error: My email address is not verified, therefore I

[2022-05-30 15:06] alveshelio opened #174 "Session isn't renewing automatically an expires causing problems."
When a user is logged in and he's inactive for a moment the session expires and causes errors in the console. The session should renew automatically.

![image](https://user-images.githubusercontent.com/8176422/171019400-596558ee-c3d0-4fe7-aab8-79117029e65a.png)

[2022-05-30 15:20] alveshelio opened #175 "Sign in through Social Login LinkedIn throws 500 error"
This is happening in local but also in production sometimes, it's harder to reproduce in production though
![image](https://user-images.githubusercontent.com/8176422/171021365-7b305dc5-ea87-498c-9656-f152d29937d3.png)

I need to go back to the site try to login again and then it works.

[2022-06-01 06:57] elitan opened #178 "SMS prefix creates two users with same phone number"
There are two ways of formatting a phone number when signing up with a phone number:

1. Start with "+"
2. Start with "00"

Example: "+46123123" and "0046123123" are the same phone number. But for Hasura Auth, they are treated as different phone numbers and will create two users.

![CleanShot 2022-06-01 at 09 26 09@2x](https://user-images.githubusercontent.com/331818/171350797-13e329b2-7f43-4c0f-9

[2022-06-01 07:49] elitan opened #179 "Make sure correct email variables are available for all email templates."
E.g. the variable `email` is missing here:

https://github.com/nhost/hasura-auth/blob/main/src/routes/user/email/change.ts#L74-L80

The variables we say are available: https://docs.nhost.io/platform/authentication/email-templates#variables

- link
- serverUrl
- clientUrl
- redirectTo
- ticket
- displayName
- email
- locale

I also think we could add the following variable to all email templates:

[2022-06-01 11:45] dikshatekriwal opened #181 "Started getting error - Can't import the named export 'ApolloProvider' from non EcmaScript module"
I've started getting this error while compiling suddenly when updated the Nhost dependencies

The version for Nhost libraries are -
		"@nhost/nhost-js": "^1.2.1",
		"@nhost/react": "^0.7.10",
		"@nhost/react-apollo": "^4.2.11",

./node_modules/@nhost/react-apollo/dist/index.esm.mjs
Can't import the named export 'ApolloProvider' from non EcmaScript module (only default export is available)

Tried w

[2022-06-01 17:21] nunopato commented on #174
@alveshelio this has been fixed and will be released soon.

[2022-06-01 17:55] MichalNemec opened #182 "Migrations on fresh instance broken"
[code]

Taken from here including `.env` file, NOTHING was changed.

output from docker:
[code]

[2022-06-01 18:05] plmercereau commented on #182
Is there something in your `docker/initdb.d` local folder? There should be an script that creates the auth schema:
https://github.com/nhost/hasura-auth/blob/main/docker/initdb.d/0001-create-schema.sql

[2022-06-01 18:12] MichalNemec commented on #182
interesting, removed whole folder, cleaned up docker, did git clone again chmod 777 and it worked now, i guess something got messed up when doing git clone?

[2022-06-01 18:17] plmercereau commented on #182
That is weird indeed, happy you found a solution. I cannot reproduce on my end.
Closing for now unless the problem occurs again

[2022-06-01 18:17] #182 closed

[2022-06-01 18:35] elitan commented on #175
What error do you get in the server logs when this happens locally?

[code]

[2022-06-01 18:38] plmercereau commented on #175
What could also help is the full URL in your browser tab

[2022-06-01 18:39] elitan commented on #169
I'm not sure I understand exactly what you mean here. Could you explain a scenario from start to finish and how webhooks would be involved?

[2022-06-02 13:11] #178 closed

[2022-06-02 18:17] alveshelio commented on #175
After upgrading to the latest version of @nhost/nextjs and @nhost/react I no longer have this issue.

[2022-06-02 20:44] sean-nicholas commented on #169
Here are a few use cases:

## Send magic link via slack / teams instead of email
- You are creating an app for a single company only that uses it inhouse. For easy access the users should get a passwordless magic link. But the requirement from the company is that the link should be send by slack not by mail (for example because mail is always delayed by 5 mins due to spam filtering)
- You set the

[2022-06-03 13:05] alveshelio commented on #175
Hi @elitan  I though it had been fixed but I'm getting it again.

Here are the logs I'm getting on localhost:
[code]
What I find particularly strange is this log
[code]
Because I'm sending this object to options
[code]
What's even stranger is that when I go back to the site and I try to sign in again and this time it works fine. I don't know if it's because I'm already signed in in LinkedIn or not

[2022-06-03 15:21] sean-nicholas commented on #169
It's basically a plugin system but programming language agnostic and without the hassle of installing and managing plugins

[2022-06-05 13:13] chanthavong opened #185 "fail when deploy with heroku"
(node:20) UnhandledPromiseRejectionWarning: Error: no pg_hba.conf entry for host "xxx.xxx.xxx.xxx", user "xxx", database "xxxx", no encryption

[2022-06-07 06:45] elitan commented on #91
Since we can not modify existing migrations, and this `CRETE SCHEMA IF NOT EXISTS auth` must happen before all migrations are executed here are a few solutions:

1. State that the `auth` schema must be present before starting Hasura Auth. I.e. Hasura Auth is not responsible for creating the `auth` schema.
2. Hasura Auth creates the `auth` schema via raw SQL (e.g. via `/v2/query` (Hasura)) before r

[2022-06-07 06:49] elitan commented on #152
yes, here's some documentation:

https://docs.nhost.io/platform/authentication/sign-in-with-google
https://docs.nhost.io/platform/authentication/sign-in-with-facebook
https://docs.nhost.io/platform/authentication/sign-in-with-github
https://docs.nhost.io/platform/authentication/sign-in-with-linkedin
https://docs.nhost.io/platform/authentication/sign-in-with-spotify

You can check the environment v

[2022-06-07 06:49] #152 closed

[2022-06-07 06:51] elitan commented on #155
I'm on pnpm v 7.1.0 and things are working for me. Let me know if this is still an issue and I'll reopen the issue.

[2022-06-07 06:51] #155 closed

[2022-06-07 06:55] elitan commented on #166
I'm not following exactly why you want to change the `AUTH_SERVER_URL`. I guess it's related to what you wrote here:

So maybe a better question is, why do you have multiple domains pointing to the same Hasura Auth service? What's the use case?

[2022-06-07 06:56] elitan commented on #171
duplicate of: https://github.com/nhost/hasura-auth/issues/125

[2022-06-07 06:56] #171 closed

[2022-06-07 06:57] elitan commented on #174
Should be fixed by the latest releases of Hasura Auth and `@nhost/nhost-js`.

[2022-06-07 06:57] #174 closed

[2022-06-07 06:58] elitan commented on #185
Could you share how you deployed Hsaura Auth and what your configuration was?

[2022-06-08 07:58] #179 closed

[2022-06-08 18:08] mmmmillar opened #189 "Magic links break when Outlook safe links are enabled"
Magic links don't work from Outlook when safe links are enabled.

The logs show that the verifyHandler is called multiple times when the link is clicked (as part of the safety check) - the first time the ticket is removed from the user record and redirect is called correctly, but this is cancelled out by the subsequent calls to verifyHandler where the ticket no longer exists and an error response

[2022-06-08 18:43] elitan commented on #189
I've googled a bit and seems to be a common issue.

- https://github.com/FusionAuth/fusionauth-issues/issues/629#issuecomment-832778247
- https://github.com/authelia/authelia/issues/2994
- https://github.com/nextauthjs/next-auth/issues/1840
- https://github.com/nextauthjs/next-auth/pull/3900/files

In summary, I think there are two solutions:

1. Always return 200 for HEAD `/verify`: `router.head(

[2022-06-09 06:39] #185 closed

[2022-06-09 13:18] dikshatekriwal commented on #179
@plmercereau is this fixed as I'm see seeing ${email} and not the actual value today?
![image](https://user-images.githubusercontent.com/15191000/172856554-7cbeaa18-5df0-4347-b659-e8c323f6e792.png)

[2022-06-09 13:53] anelad opened #201 "Magic Link with no user creation"
I need to disable new user creation during magic link process.
I will create users manually and non-existing users trying to log in via magic link should get user not found error.
Can I achieve this behavior in this version?

[2022-06-10 20:05] cj opened #193 "Emails not being sent"
Hi,

We are self hosting on render.com, using sendgrid.com, everything is working great other than we receive no emails and sendgrid.com shows no activity.  We turned on `AUTH_LOG_LEVEL=error` but there are no errors, and when using passwordless login via the client we get an `'OK'` response back from the auth server.  Any ideas, or a way of turning on more verbose logging?

Cheers and Happy Frida

[2022-06-10 20:20] cj commented on #193
These are the logs I get back https://gist.github.com/cj/4512c7c1546f4b65084c3afd26525c29

[2022-06-10 23:08] GavanWilhite opened #194 "Is there a way to use an email validation service on the server before invoking SMTP?"
My transactional email provider is quite strict about bounces, and so I'd like to prevent fake emails from triggering a SMTP request. I could do so on the client side, but this wouldn't prevent a bad actor from spamming hasura auth with fake emails and racking up my bounce-rate. Is there a way to have hasura auth hit my email validation service from the server-side before making the smtp request?

[2022-06-12 19:30] #189 closed

[2022-06-12 20:40] elleryfamilia opened #196 "Implement SMS Templates for Auth"
Currently the SMS that goes out says "Your code is 000000"

Ideally we are able to customize a template and insert the code as a variable:

*Nhost - Here is your code: {{verification_code}}. Don't share it with anyone*

To push things even further, you could even make Auth variables available for the templates:

*{{first_name}}, here is your code: {{verification_code}}. Don't share it with anyone*

[2022-06-14 13:38] elitan commented on #179
We'll roll out this to Nhost Cloud in the next few days.

[2022-06-15 07:14] plmercereau commented on #196
A `AUTH_SMS_TEMPLATE` may be the quickest way forward, but we would miss translations. Eventually we will likely need to implement the same system as for email templates

[2022-06-17 07:25] #173 closed

[2022-06-18 05:24] rikardkling commented on #95
Agree! Having null values for claims makes it unusable together with permissions. Would be great if we could just leave those values out instead.

[2022-06-24 13:28] ArieJones opened #203 "Ability to use metadata for permission variables"

[2022-06-24 13:32] ArieJones opened #204 "Do not prevent reading of custom permission variables if one is incorrect"
I was trying to test the capabilities of the current dot notation for custom permission variables and discovered if you enter in one value that cannot be read then it just quietly fails for all of them and none are utilized.

I would think the preferred method would be to just log the failure somehow and then carry on with trying to read the other values.

So in my example I tried to add a value t

[2022-06-25 00:43] jogri opened #202 "Magic Link - creation without sending emails"
I need a way to generate a magic link without it being sent to the specified email address.
Right now I only can think about workarounds by stopping the email from being sent (on the smtp server side) and get the token from the database manually or set up a webhook in hasura.
So basically it would be awesome to have the ability to just generate the magic link token in the database without the whol

[2022-06-28 07:26] #95 closed

[2022-06-30 11:53] L3K0V commented on #196
Can I pick this up next days? I can implement the template approach.

[2022-06-30 12:05] plmercereau commented on #196
Yes, definitely!

[2022-06-30 12:16] #154 closed

[2022-07-01 21:16] plmercereau opened #209 "Streamline the development tools"
We should use the same development tools and practices across our Node projects when possible:
- bump versions with changesets
- use the same prettier/eslint config as in nhost/nhost

In addition to that, we need to change the start sequence when developing: codegen is causing some trouble as it runs before hasura-auth applied its migrations and metadata, ending up in an error

[2022-07-01 21:19] plmercereau commented on #53
Closing because:
- hasura-auth now accepts any redirect website when no client url is then. It would then become impossible for hasura-auth to construct the full path without knowing the requested base url
- the sdk accepts relative paths and transforms them into absolute paths

[2022-07-01 21:19] #53 closed

[2022-07-01 21:23] plmercereau commented on #193
Hello,
Sorry for the late reply
You can try `AUTH_LOG_LEVEL=debug`

[2022-07-18 12:40] yureckey opened #215 "usage of custom headers when using user smtp"
I'm using CampaignMonitor smtp, they currently rewrite all links in email to track if it was opened. If I need to change this behavior I need to provide custom header X-CMail-TrackClicks: false
(they have others too: X-CMail-GroupName, X-CMail-TrackOpens, X-CMail-InlineCSS)
Would be good to be able provide custom headers.

[2022-07-18 20:28] abdullah2993 opened #216 "What is reason behind allowedRoles during sign-up?"
I'm not sure if I understand the usage of allowedRole input in case of sign-up, wouldn't that mean the end-users/client can add as many roles as they want to the allowed list? for example while singing-up someone can pass allowedRole for something like `superadmin` etc?
Or the goal here is that hasura-auth shouldn't be directly integrated in clients?

[2022-07-21 13:50] #166 closed

[2022-07-21 15:13] elitan commented on #166
What was the solution? It might be valuable for other developers who are experiencing the same thing?

[2022-07-22 07:29] yannickglt commented on #166
We duplicated the instances during the migration thenwe removed the old one after some weeks.

[2022-07-25 09:32] tvarsis opened #218 "Support OpenID Connect standard"
Would be a great addition to this lib to support OpenID Connect Oauth standard, to configure and provide custom auth providers.

[2022-07-26 14:07] chanthavong opened #219 "cannot run other port on container?, example 4001:4000"

[2022-07-26 14:16] #219 closed

[2022-07-26 16:57] mdp18 opened #286 "Configurable SMS OTP Timeout"
I'd like to request a feature that allows app developers the ability to configure the timeout of an OTP for passwordless and mfa.

[2022-07-27 13:58] disconnect3d opened #220 "The OTP secrets are generated with only 10 bytes of entropy"
Hey,

This is potentially a security vulnerability. I am reporting it here since you neither have a [security policy](https://github.com/nhost/hasura-auth/security) in your repository nor your website uses the https://securitytxt.org/ standard (I would expect https://nhost.io/security.txt to provide contact information). This is also not of a huge impact, but still.

This repo depends on otplib@12

[2022-07-28 15:38] Tiim opened #221 "Database migrations deadlock when starting with a fresh DB."
I'm trying to use hasura-auth as a selfhosted service with docker. In development this works really nice. Now I want to deploy my application and I got stuck on the following:

- hasura-auth does not run the migrations because hasura is not started up. (Hasura is not ready. Retry in 5 seconds.)
- hasura tries to apply the migrations before starting up (dockerfile: hasura/graphql-engine:v2.8.4.cli-

[2022-07-31 13:43] L3K0V opened #222 "Cannot use custom claim array values"
First I have defined custom claim like this:

[code]

When user have properties, in the token I expect to have array with the IDs of these properties

I update table permissions like following:

![image](https://user-images.githubusercontent.com/2267270/182029252-7bc4c8f9-8c43-4734-80d0-150ff2bc6f8f.png)

### Scenario 1: When there's no matching property IDs

[code]

### Scenario 2:  When there's

[2022-08-04 11:45] Keyruu commented on #218
Yes, this would be awesome!

[2022-08-23 18:34] Parables commented on #168
Changing these in `nhost-project/nhost/config.yaml` allowed me to authenticate users locally using `nhost-cli`

[code]

using the `@nhost/nhost-js`, setup your client using:
[code]

Enjoy working locally :clinking_glasses: :beers:

[2022-08-24 05:28] elitan commented on #168
@Parables What's your output of `nhost up`? I suspect there is a warning about a configuration update for SMTP settings.

About the warning. The warning is technically correct, but maybe the warning is only logged when the SMTP settings are correctly configured, and the SMTP server is reachable.

Either we ship a .txt template for each email template or document how users can add a .txt template i

[2022-09-07 03:31] chanthavong opened #229 "how to deploy with vercel please help me 🙏"

[2022-09-09 08:34] ilijaNL opened #230 "Storing refresh token & access token in plain text (OAuth providers)"
Hello, I wonder how refresh tokens and access tokens from auth providers are stored? Quickly expecting the code I assume it is stored as plain text. Especially for the refresh token, it seems like a security risk and is equivalent to storing the password as plain text. Which means that when a data leak occurs, the refresh token can be used by the hacker to authenticate and potentially use the toke

[2022-09-09 08:40] elitan commented on #230
If you mean tokens to OAuth providers stored in `auth.user_providers`, then yes, they are stored in plain text.

If you mean refresh tokens used to sign in, they are also stored in plain text. These I think we can hash without any problem.

The OAuth tokens are a bit think. Those can not be hashed as they are used to communicate with the OAuth provider, but maybe there is a more secure way of mana

[2022-09-09 08:51] ilijaNL commented on #230
Personally I see refresh tokens from auth providers same as passwords, thus the should be not be stored as plain text.

I am not sure what the best practises about store oauth2 refresh tokens. The only way of making it more secure is to let the user store it in http only cookie and not in database.

[2022-09-09 17:27] plmercereau commented on #222
You'd rather try
[code]
See [JSONata's official documentation](https://docs.jsonata.org/predicate#singleton-array-and-value-equivalence)

[2022-09-09 20:25] plmercereau commented on #229
Hello @chanthavong,
Hasura auth cannot be deployed in Vercel: it is a backend application, and it doesn't fit in functions.
You can use hasura-auth out of the box on [Nhost](nhost.io) or deploy the [docker image](https://hub.docker.com/r/nhost/hasura-auth) in the infrastructure of your choice.
Good luck!

[2022-09-09 20:25] #229 closed

[2022-09-12 21:38] linden opened #233 "passwordless-links break when the `redirectTo` contains a query"
currently when your `redirectTo` contains a query string it breaks the `refreshToken` which is always append with a `?refreshToken`.

example code:
[code]

the user would be redirected to this URL `https://example.com/demo?query=string?refreshToken=000...`, breaking both the `query` and the `refreshToken`.

[2022-09-12 21:39] linden commented on #233
I'm guessing this is because [`generateRedirectUrl` is looking for an existing query by checking for `&` (not `?`)](https://github.com/nhost/hasura-auth/blob/b9ea3e527a1950cb191470e4cd632e884836bb63/src/utils/redirect.ts#L16).

[2022-09-13 08:54] #196 closed

[2022-09-13 12:17] #233 closed

[2022-09-15 01:48] GavanWilhite opened #236 "Gravatar should not be fetched if blank"
Right now it seems like a default blank Gravatar is being fetched if one does not exist for the user.

I believe this means that it can never be overridden by a user photo derived from social login.

I did a little research and I think that this should do the trick:

When Gravatar images are fetched, append d=404 as a query param, as this will cause Gravatar to return a 404 status rather than a de

[2022-09-16 17:13] plmercereau opened #238 "Rename the `email-templates` directory"
Since SMS are templated, the name of the directory `email-templates` is inconsistent.
We need to rename it while taking into account other bricks of the Nhost stack, in particular the CLI.
cc @L3K0V @elephant3

[2022-09-16 17:15] plmercereau opened #239 "Push notifications"
@L3K0V suggested to add a push notification mechanism. This issue is for tracking the idea and possible solution.
Could you explain more what you have in mind, @L3K0V ?

[2022-09-16 17:20] plmercereau opened #240 "Add the application name as an environment variable"
The application name can be useful in the following cases:
- in custom email/sms templates
- when using WebAuthn

Although `AUTH_WEBAUTHN_RP_NAME` is already implemented, we could set a more generic environment variable such as `AUTH_APP_NAME`

cc @L3K0V @elitan

[2022-09-17 18:45] fonksiyoneltip opened #241 "signInEmailPasswordless gives error 500 after updates"
I've updated Nhost CLI, node packages of my project and also Docker. After updates, `signInEmailPasswordless('theEmailAddress')` stopped working (on working old project) . The only error I get is:

[code]

There is nothing but this I can share.

- Nhost CLI v0.8.1 for darwin-amd64
- @nhost/nextjs: "^1.7.4
- @nhost/react: ^0.12.4
- Docker 4.12.0
  - hasura/graphql-engine: v2.10.1
  - mailhog/mailho

[2022-09-19 11:24] shiftlabs1 commented on #222
@plmercereau nhost cloud permission variables does not allow the capture of square brackets []. how does one handle this ?

[2022-09-19 11:26] plmercereau commented on #222
The Nhost cloud is being updated, it will be available soon.
We also need to upgrade its hasura-auth version to 0.12

Reopening this issue until this is solved in the cloud

[2022-09-20 08:41] yannickglt opened #243 "Azure AD integration"
We use Microsoft Azure AD in our company and I would like to use it for Hasura authentication.

Would you agree if I create a pull request to support Azure AD login using the https://github.com/AzureAD/microsoft-authentication-library-for-js library? Is there a way to chat together if I need help somewhen?

Thanks

[2022-09-20 09:08] elitan commented on #243
Thanks for the initiative.

Yes, we would accept a PR like that.

We're on Discord if you need to chat: https://nhost.io/discord

[2022-09-20 12:20] L3K0V commented on #239
Sure!

First of all I'm having a mobile-first native apps and the plan was to use Firebase push notifications for both Android and iOS.

I have introduced a concept of installations in my nhost stack maintaining a table and device installations. An installation have some information about the device like platform version, app identifier or bundle id etc. and most important - a device token.

Using

[2022-09-20 20:29] elitan opened #245 "pwned password error response"
During signup with email and password: if `AUTH_PASSWORD_HIBP_ENABLED` is `true` and the password does not pass haveibeenpwned I get the following response:

[code]

If I provide a stronger password, the signup works.

[2022-09-21 06:23] elitan commented on #241
Can you check the logs (`nhost logs -f`) while signing up? Maybe there is some clues there.

[2022-09-22 07:08] fonksiyoneltip commented on #241
I think these are what you are looking for.

[code]

[code]

[code]

[2022-09-22 08:01] fonksiyoneltip commented on #241
I've reinstalled CLI, created a fresh new NextJS project but with the same result. Am I the only one having problem with passwordless email sing in?

[2022-09-23 18:01] fonksiyoneltip commented on #241
Nope. Whatever I do, I cannot make magic link work on local env

[2022-09-23 18:36] elitan commented on #241
Can you set the auth.smtp.port to `1025` in the `nhost/config.yaml` file. Then restart `nhost up` and try again.

Relevant: https://github.com/nhost/cli/pull/360

[2022-09-23 19:04] fonksiyoneltip commented on #241
Thanks @elitan, it worked. For old projects deployed to Nhost, a new deployment is required with the new value.

[2022-09-23 21:58] Morstis commented on #216
Even so I am not sure if my current findings are correct, I want to share what I found out to this issue.

At first, I was thinking the exact same as @abdullah2993. It seems that you can give the new registered user any role if you pass it in the options parameter in the post request to ```auth/signup/email-password```.
So something like this body should give the user the ability to get the admin

[2022-09-28 06:31] im-what-im opened #250 "Track Unsuccessful attempts and Lock User"
New Feature request to track unsuccessful login attempts from a user and lock the user after certain (configurable) number of attempts.

[2022-09-28 14:07] pkreipke commented on #250
I second this. Also logging attempts at username guessing/"phishing".

[2022-09-29 02:47] im-what-im commented on #250
Yes, when the user attempts to sign in with the inbuilt username/password combination, the user should get locked after certain number of unsuccessful attempts, and should probably get a ticket generated to unlock via email.

[2022-09-29 08:55] apperside opened #252 "AUTH_JWT_CUSTOM_CLAIMS not working"
Hello,
I am running the docker-compose example and it works fantastically!
However, I am trying to add custom claims to my jwt token by following this guide https://github.com/nhost/hasura-auth/blob/main/docs/recipes/custom-hasura-claims.md.

This is my `docker-compose.yaml` and `.env` file
<img width="779" alt="Screenshot 2022-09-29 at 10 47 10" src="https://user-images.githubusercontent.com/5955

[2022-09-29 09:09] plmercereau commented on #252
Hello @apperside,
thanks for your kind feedback.
The root of the custom claim value is the current user. As a result, if you want to access the user id, you should use `id` instead of `user.id`:
[code]
It will generate a `x-hasura-my-claim` value with the id of the user.
You can have a look at [this small guide](https://github.com/nhost/hasura-auth/blob/main/docs/recipes/custom-hasura-claims.md).

[2022-09-29 10:09] apperside commented on #252
Hello @plmercereau ,
thanks a lot for your response!
The guide you linked is the one I had alread read, but I didn't realized that the root was the user object, my bad!
Thanks a lot for you response

[2022-09-29 10:10] #252 closed

[2022-09-29 10:26] plmercereau commented on #252
You're very welcome! Don't hesitate to update the guide to make it a bit clearer for other users that would bump into the same issue :)

[2022-09-29 10:47] plmercereau commented on #222
Hasura-auth `0.13.2` is deployed in the cloud. Closing. Thanks for your patience

[2022-09-29 10:47] #222 closed

[2022-09-29 10:48] plmercereau commented on #241
This issue is solved, closing it.
Thanks!

[2022-09-29 10:48] #241 closed

[2022-09-29 10:58] plmercereau commented on #193
Hello @cj, are you still facing this issue?

[2022-09-29 11:48] plmercereau opened #253 "Support Keycloak Oauth"

[2022-09-30 14:54] abdullah2993 commented on #91
Can you please add it in the docs that if you want to use the `nhost/hasura-auth` image then you have to setup the auth schema yourself? 🙏🏾

[2022-09-30 19:06] abdullah2993 commented on #216
thanks for the detailed reply @Morstis yes it looks like that is the case, I ended up digging through the code to find out how it is handled. Not sure why this feature was added at all, looks like it as added to be able to customize the allowed roles but that doesn't make sense at all since this can be controlled by the end user.
Almost everything passed in via `options` is validated against the `

[2022-10-03 09:42] anelad opened #255 "E-mail subject template containing special chars brakes the system"
I was creating Turkish e-mail templates and saw that `subject.txt` containing special chars like `Ü,Ö,Ş,Ç etc` brakes the e-mail send process. 500 error is thrown.

I've tested `body.html` if the problem exists there too, but nope, all good.

Also, the problem might be platform specific. On my local platform (macOS 16) I don't came into that problem.

[2022-10-04 10:38] Morstis commented on #216
Maybe you got a usecase if you want to set more default roles in a registration that are uncritical (e.g. "me","user"). For example a "public" role. And with that public role you can create different permissions, like you do with the "me" roles. And likewise to "me" you can pass that role into x-hasura-role if it is in your allowed roles and therefore get a different permission validation.

To mak

[2022-10-07 08:50] #243 closed

[2022-10-11 07:44] spakanati opened #257 "Allow anonymously-signed-in users to have a `user` role instead of `anonymous`"
Currently when you sign in a user anonymously, the user has the `anonymous` role hardcoded:
https://github.com/nhost/hasura-auth/blob/main/src/routes/signin/anonymous.ts#L29

The term "anonymous" can cause some confusion since it's used in both an auth provider context and a Hasura permission role context, but in general an anonymously-signed-in user is still a signed-in user and should have a `us

[2022-10-11 19:19] spakanati opened #259 "Add API to link multiple providers to an existing user"
Similar to https://firebase.google.com/docs/auth/android/account-linking

Right now (per discussion in Discord), there's no officially supported way to add SMS login to an existing user with an email-password login. Apparently you can directly update the phone number using GraphQL and then call signInSmsPasswordless, but this wouldn't verify the phone number validity/ownership before attaching it

[2022-10-14 04:47] dipakparmar commented on #253
maybe OIDC OAuth support instead of Keycloak as it implements has support for it. With that, this generic provider can be useful for many others.

[2022-10-15 22:27] collin opened #260 "Errors applying metadata in docker-compose installation"
I ran into an issue where it appears the hasura-auth container is attempting to apply metadata to a database named 'default'. This caused some trouble as I had already created a hasura instance with a different database name.

I looked around for a while, but could not find a setting/environment variable to instruct hasura-auth to use a different database name.

I've been able to work-around this

[2022-10-15 22:28] collin commented on #260
Here's the that was resolved by re-naming the hasura database connection to 'default':
[code]

[2022-10-15 22:29] collin commented on #260
And when I say "re-name" the database, I mean re-name it as far as Hasura knows about it in the metadata directory:

<img width="382" alt="Screen Shot 2022-10-15 at 5 29 07 PM" src="https://user-images.githubusercontent.com/7783/196009915-a7a2cf5f-4573-40e9-8d3b-bd96738fa8d3.png">

[2022-10-17 17:35] plmercereau commented on #193
No news, closing. Will reopen if required.
Thanks

[2022-10-17 17:35] #193 closed

[2022-10-17 19:15] plmercereau commented on #94
Hello,
Better late than never.
Yes, if the custom claim is errored, then it probably means its configuration needs to be adjusted. I don't think we should add error codes inside the JWT, it's better to go have a look at the logs while developing.
The logs for such an error has been improved - and they are now available in the Nhost Cloud.
Moreover the overall logs will be more readable when [this

[2022-10-17 19:15] #94 closed

[2022-10-17 19:23] plmercereau commented on #204
The hasura-auth are now available on the Nhost Cloud, and we will enhance their readability with [this PR](https://github.com/nhost/hasura-auth/pull/256).

The `metadata` column is a JSON column, and JSON columns are currently a limitation of custom claims.
For instance, if your define a claim with the path `user.metadata.a`, it will generate under the hood the following query:
[code]
which is inc

[2022-10-17 19:56] plmercereau commented on #43
related: https://github.com/nhost/nhost/issues/870

[2022-10-18 11:29] #204 closed

[2022-10-18 11:31] #168 closed

[2022-10-24 07:38] Anan7Codes opened #267 "Disable sign up and only allow admin users to create new accounts"
Hey, would be great if we can disable sign-up and have an admin account only through which we can create new accounts.

This is kinda for my use case where I'm building a portal and I don't want to let the public sign-up instead, once all the documents are ready and verified, and only then do I create an account for my merchant to use my platform.

[2022-10-24 17:32] GavanWilhite commented on #236
How can that be done on nhost.io? @plmercereau

When I go to set an environment variable for it, I get the error:

Warning
The environment variable name cannot start with a value that is reserved for an internal environment variable.

[2022-10-24 17:37] plmercereau commented on #236
It is possible to set it in the config section, but there's a bug we are working on:
https://github.com/nhost/nhost/issues/880

[2022-10-24 17:44] GavanWilhite commented on #236
How would I set it then? @plmercereau

[2022-10-24 18:11] plmercereau commented on #236
To Settings -> Sign-In Methods -> Show Advanced Features

[2022-10-24 18:36] GavanWilhite commented on #236
Got it, thx

On Mon, Oct 24, 2022 at 11:11 AM Pilou ***@***.***> wrote:

[2022-10-25 17:53] AlexMichels opened #268 "Hasura Allow List - Nhost queries are missing"
I ran into an issue trying to activate Hasura allow list.
I cannot use signup or other auth queries after activating allow-list, because the nhost Hasura-auth
queries are missing in the allow list.
I can only find Rest e.g. POST /signup/email-password.
How to find the correct GraphQL queries which nhost uses for Hasura-auth ?

Would be great if I could activate the allow-list to improve security.

[2022-10-31 07:04] #245 closed

[2022-11-01 05:42] ammarfaris commented on #85
+1

[2022-11-02 06:30] elitan commented on #268
I think they are all listed here: https://github.com/nhost/hasura-auth/tree/main/src/gql

Is that enough? Or any way we can make them more available?

[2022-11-03 17:59] pk992 commented on #202
This would be so helpfull for cases where additional logic needs to be run on registration (first login with magic link).

[2022-11-03 18:44] linden opened #273 "Query Parameters Being Converted to Lowercase"
we rely on query parameters to determine the source of an function call (i.e. `/api/example?source=Nike`) but somewhere along the line `Nike` gets converted to `nike`, this seems to be a recent change that we first noticed about a week ago.

[2022-11-04 07:45] elitan commented on #273
From our Discord discussion, it seems like this issue is happening in production only (not locally), right @linden?

If so, this issue might be some Nhost production gateway issue.

[2022-11-04 22:56] linden commented on #273
Hi @elitan, yes this is only happening in production (even with the latest version of the nhost CLI), what can we do to address this if it's a production gateway issue?

[2022-11-07 09:46] #125 closed

[2022-11-07 21:06] pythonfullstack opened #274 "Type Error in Fields.ts (src/validation)"
When running project by `yarn dev` it gives me Type Error from `src/validation/fields.ts` line 29

[2022-11-07 21:41] pythonfullstack opened #275 "A way to send refresh token via HTTP-Only Cookie?"
I was curious if there is already a way to send refresh token via http-only cookie.

[2022-11-07 21:49] plmercereau commented on #275
Hello,
Hasura auth only sends refresh tokens via http body and does not support cookies

[2022-11-07 21:49] #275 closed

[2022-11-07 21:51] pythonfullstack commented on #275
It's kinda risky, right?

[2022-11-08 21:28] #220 closed

[2022-11-09 16:52] pythonfullstack commented on #274
I am still having this issue on Windows OS, not Linux.

[2022-11-09 17:52] L3K0V commented on #274
Can you post some log from the console?

[2022-11-09 17:56] pythonfullstack commented on #274
![image](https://user-images.githubusercontent.com/57242242/200904422-ac03d019-91ea-4b0b-bdca-6ce4b9a4d3f8.png)
`src/validation/fields.ts`

the error is `ValidationError` requires `type`
[code]

[2022-11-10 15:44] #273 closed

[2022-11-11 15:30] mmmmillar opened #280 "Expire refresh tokens when a user changes their password"
It would be good to expire a users refresh token when they change their password as a security measure. This was mentioned in a previous issue https://github.com/nhost/hasura-auth/issues/65 but I don't think it has been implemented

[2022-11-14 16:27] beepsoft commented on #43
I'm still struggling with this, would be great to receive at least `userId` and `email` even if the email is not yet validated.

[2022-11-17 20:34] #100 closed

[2022-11-20 19:21] elitan commented on #175
This issue has been fixed.

[2022-11-20 19:21] #175 closed

[2022-11-22 01:08] pythonfullstack opened #289 "Available to use Hasura experiment Feature for camelCase Support?"
Hasura is supporting GraphQL formatted Query since v2.8.0.

Available to use this feature?

[2022-11-22 05:23] harukaxq commented on #253
@dipakparmar
I am very excited about OIDC's support. When do you expect to release the product?

[2022-11-22 21:10] MaxSchilling commented on #230
@elitan Any chance the hashing has been implemented already? Pretty sure this would bump up in our pentest as well otherwise :-/

[2022-11-23 04:01] dipakparmar commented on #253
@harukaxq  I built it partially and then moved over to next-auth for the moment to have full federation support. Not sure I have more time to complete it but depends.

[2022-11-23 06:25] elitan commented on #230
They are not the same as passwords because you give granular access to the service (e.g. Google). By default, this means you give access to Hasura Auth to **read** the user's name, profile picture, and email.

Nothing has been implemented regarding this issue yet.

[2022-11-23 06:29] elitan commented on #230
Maybe we should encrypt the tokens to prevent them from being used in case they are leaked/hacked from the database.

The tokens can then be decrypted using a key which we could have a [system environment variable](https://docs.nhost.io/platform/environment-variables#system-environment-variables). This way, a serverless function that wants to use a token to interact with the external service can d

[2022-11-23 07:30] plmercereau commented on #230
Which token are you talking about? I don't understand why we would want to decrypt refresh tokens in functions. Access tokens can't be sent encrypted to the client as they won't be JWT anymore.

As per the initial suggestion, refresh tokens have a similar level of sensitivity as password as users can authenticate with them. I think the suggestion makes sense.

On an implementation standpoint, it i

[2022-11-23 08:23] ilijaNL commented on #230
Can I ask why the oauths refresh token is stored anyway currently?

[2022-11-23 08:35] elitan commented on #230
So your app can act on behalf of the user for that system.

We're defaulting to only email, display name, and profile picture. But if you set custom scopes, you can do much more depending on the scopes and service.

As an example, let's say you're building a music application and you let users sign in with Spotify. You set the scopes so you can read the users' playlists on Spotify. In your app, yo

[2022-11-23 08:38] elitan opened #290 "Hash refresh tokens"
We should hash all refresh tokens (`auth.refresh_tokens`) before we store them in the datbase.

This way, we avoided storing them in plain text, which can lead to bad things in case the refresh tokens are leaked.

[2022-11-23 09:09] ilijaNL commented on #230
So if you can set the scopes, like editing my google display name, the refresh token should definitely be carefully and securly stored...

[2022-11-23 11:31] elitan commented on #274
Where exactly do you see this error?

What are the steps to reproduce this issue?

[2022-11-23 11:49] elitan commented on #289
We're [manually](https://github.com/nhost/hasura-auth/blob/main/src/metadata.ts) setting GraphQL root fields and field names, so we don't need to rely on this feature from Hasura.

[2022-11-23 12:00] elitan commented on #255
Hi @anelad

I just tried and I wasn't able to reproduce this:

<img width="939" alt="CleanShot 2022-11-23 at 13 00 13@2x" src="https://user-images.githubusercontent.com/331818/203541719-787e3bf5-f885-4196-a3b2-5869d28ccbd3.png">

Do you think this has been fixed or what steps should I do to reproduce this issue?

[2022-11-23 12:53] pythonfullstack commented on #289
if I am using Hasura only for auth, I don't have to take an advantage of camelCase supporting.
But I am using it for our main service, and I don't want to manually write everything.
To solve the problem, I have to create another Database, which is not what I want.

[2022-11-23 12:59] pythonfullstack commented on #274
One of my team members using Windows OS tried to install the project on his machine and got this error.
He was using pnpm.

[2022-11-23 13:22] elitan commented on #289
You can still use `graphql-default` as the naming convention for your Hasura instance. Hasura Auth will still work.

But Hasura Auth will not rely on any naming convention from Hausra because we're manually setting the GraphQL root fields and field names. That's why I closed the issue.

[2022-11-23 17:14] plmercereau commented on #274
Good news your colleague hasn't got errors anymore. Closing for now. If happens again please give us the steps to reproduce and we'll reopen the issue.

[2022-11-23 17:17] pythonfullstack commented on #289
I tried to do that but it doesn't work at all.
it failed in validating GraphQL schema when running it.

[2022-11-23 17:37] elitan commented on #230
Just to be clear: The default scopes with Hasura Auth is **READ ACCESS ONLY**.

I still think we should consider encrypting the tokens for OAuth providers.

[2022-11-23 17:41] elitan commented on #289
What makes you think the error you got in the screenshot above would be solved by setting `graphql-default` as the naming convention for Hasura?

[2022-11-23 17:43] pythonfullstack commented on #289
When I run it with `hasura-default` it works for me, but `graphql-default`.

[2022-11-23 17:47] pythonfullstack commented on #289
I'd love to have `Hasura-auth` works for Hasura with `graphql-default`

[2022-11-23 17:51] elitan commented on #289
What was the action you tried to do to get the error above?

[2022-11-23 17:56] pythonfullstack commented on #289
At the very beginning, I run it with `hasura-default` it worked well.
I noticed that hasura is supporting `graphql-default` and I wanted to use it because I am using it across the project.
I just changed the setting on Hasura console and `Hasura auth` didn't work at all.

I just run command `pnpm dev`/`pnpm start`.

[2022-11-23 18:28] elitan commented on #239
Adding docs from Firebase for reference: https://firebase.google.com/docs/cloud-messaging

[2022-11-23 20:03] plmercereau commented on #239
Thinking out loud. What if:
- (optional) we set a table `auth.user_devices` (id, user_id, device_token)
- every time hasura-auth generates a jwt, we embed the device token in the JWT (`x-hasura-device-token`)
- we set a table `notifications` (id, message_id, device_token, read `boolean default false`
  - set `select` permission to `{ device_token: { _eq: "x-hasura-device-token" }, read: { _eq: fal

[2022-11-24 08:45] plmercereau commented on #253
@L3K0V is interested in implementing the Keycloak provider :)

[2022-11-25 10:48] anelad opened #293 ""Allowed Emails and Domains" and "Disable New Users" not working with Magic Link"
When I set an allowed domain in Nhost, signInEmailPasswordless still creates a new account for an email that is not allowed.

Same thing for "Disable New Users" option while it's enabled; when I click on the link in the email, user signs in successfully.

[2022-11-28 16:00] MaxSchilling opened #294 "Prevent guessable user accounts / user enumeration"
For data safety reasons, an (at least) an option to prevent user enumeration / guessable user accounts would be highly appreciated. This point was shared by our pen-testing company in a preparation discussion, that this is a common finding.
I know that in some parts of the world the current behaviour is also desired, our field unfortunately provides some additional struggles.

Some of the current

[2022-11-29 17:27] Pascal-Orthopy commented on #294
The endpoint "/user/email/send-verification-email" for resending the verification mail, is also a entry for guesable user accounts.

It returns the following states:
- When user is not registered: "No user found"
- When user email is verified: "User's email is already verified"
- When user email is not verified: "Ok"

[2022-11-29 20:27] plmercereau commented on #73
shipped in `0.16`

[2022-11-29 20:27] #73 closed

[2022-11-29 20:47] plmercereau commented on #293
Hello @anelad,
This should not be possible, here's a link to the tests:
- [should not be possible to sign it when new users are disabled](https://github.com/nhost/hasura-auth/blob/main/test/routes/signin/passwordless/email.test.ts#L87-L97)
- [should fail to sign if email is not valid](https://github.com/nhost/hasura-auth/blob/main/test/routes/signin/passwordless/email.test.ts#L151-L162)

Hence a f

[2022-11-30 12:49] MaxSchilling commented on #294
Hi, so you'd create a config variable which either returns error messages as today, or a neutral version? Sounds fine to me!

So for the neutral version, I guess it would be alright to just return success/ok messages, as long as no real technical error exists(too many requests, account locked, bad request,..). So if that's what you're thinking - I'd be happy :)

[2022-11-30 13:39] plmercereau commented on #294
@elitan @MaxSchilling @Pascal-Orthopy please have a look at the above PR.
It introduces a `AUTH_CONCEAL_ERRORS` environment variable. When set, all the error flagged as sensitive will be replaced by a standard "invalid request" error

[2022-11-30 17:54] MaxSchilling commented on #294
Hi @plmercereau looks great - not really good (even at reading) typescript, but from what I understand the handling in errors.ts covers basically all cases, also when e.g. a "user-not-found" error is sent by e.g. the passwort-reset.ts:
<img width="750" alt="image" src="https://user-images.githubusercontent.com/65183496/204871185-9a5706d4-4956-4510-87c1-723aee54b5c9.png">

If so - awesome solution.